

<form (ngSubmit)="filterMethod()" #loginForm="ngForm">

    <mat-card>
        <mat-card-content>
         
          
      <mat-form-field >
              <input matInput type="search" placeholder="Search Gene Name or Symbol" [(ngModel)]="keyword" name="keyword" placeholder="Search for gene symbol or name">
      </mat-form-field>

      <mat-form-field>
          <mat-select   placeholder="Construct" [(value)]="constructSelected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let construct of constructTypes" [value]="construct">{{construct}}</mat-option>
          </mat-select>
        </mat-form-field>

       <mat-form-field>
          <mat-select   placeholder="Cell type" [(value)]="cellSelected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cell of cells" [value]="cell">{{cell}}</mat-option>
          </mat-select>
        </mat-form-field>
      
       <!-- <mat-form-field>
          <mat-select   placeholder="Cell subtype" [(value)]="cellSubtypeSelected">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let cellSubType of cellSubTypes" [value]="cellSubType">{{cellSubType}}</mat-option>
          </mat-select>
        </mat-form-field>
      
         
        <mat-form-field>
          <mat-select   placeholder="Assay" [(value)]="assaySelected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let assay of assays" [value]="assay">{{assay}}</mat-option>
          </mat-select>
        </mat-form-field>  -->


        <button mat-fab>
            Filter
          </button>
          <button type="button" mat-fab (click)="clearFilter()">
              Clear Filter
          </button>

            
      </mat-card-content>
    </mat-card> 

    <mat-card>
      <mat-card-content>
          <mat-form-field>
              <mat-select   placeholder="sort highest sig to lowest" [(value)]="sortFieldSelected">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let header of columnHeaders" [value]="header" (click)="filterMethod()">{{header}}</mat-option>
              </mat-select>
            </mat-form-field> 
      </mat-card-content>
    </mat-card>
</form>
<mat-card>
    <mat-card-content>
<mat-spinner *ngIf="!resourceLoaded"></mat-spinner>

    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="cellChartOptions"
      [(update)]="updatechart"
   
      
    ></highcharts-chart>
    </mat-card-content>
    </mat-card>


