

  <mat-sidenav-content id="page-content"  fxFlex="70%">
    
      <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
          
        <article >
              




        </article>
      </div>
</mat-sidenav-content>

<mat-sidenav mode="side" opened fxFlex="28%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="10px">
        <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
        <threei-stats-blocks></threei-stats-blocks>
        <threei-logos></threei-logos>     
</mat-sidenav>