<mat-sidenav-content id="page-content"  fxFlex="60%">
<div id="welcome" >
  <h1>About 3i</h1>
</div>

<div id="main">
  <p>Some Text About the 3i project in general here</p>

</div>
<h1><a name="publications" id="publications">Publications</a></h1>
<threei-publications-page></threei-publications-page>
<!-- <threei-consortium-page></threei-consortium-page> -->
<threei-contact-page></threei-contact-page>

</mat-sidenav-content>

<mat-sidenav mode="side" opened fxFlex="40%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="0px"> 
    <p><img src="assets//images/contact-images/map.png"></p>
    <p><img src="assets//images/contact-images/b1.gif" width="20" height="20" />Wellcome Trust Sanger Institute, Hixton</p>
    <p><img src="assets/images/contact-images/b2.gif"  width="20" height="20" />King's College, London</p>
    <p><img src="assets/images/contact-images/b3.gif" width="20" height="20"  />Imperial College, London</p>
    <p><img src="assets/images/contact-images/b4.gif"  width="20" height="20"  />Cambridge University</p>
    <p><img src="assets/images/contact-images/b5.gif"  width="20" height="20"  />Oxford University</p>
    <p><img src="assets/images/contact-images/b6.gif"  width="20" height="20"  />Manchester University</p>
    <p><img src="assets/images/contact-images/b7.gif"  width="20" height="20"  />Albert Einstein College of Medicine, New York</p>

</mat-sidenav>