    <mat-toolbar  style="min-height: 100px !important; min-height: 100px !important;" role="toolbar"  [ngClass]="{'bottom': !topMenu}" >
    <!-- <mat-toolbar-row> -->
                    <!-- <div id="menu-padding-left"  fxFlex="10%" style="background-color:green">menu padding should be here
                    </div> -->
            <!-- <span fxLayout="row" fxLayout.xs="row" fxLayoutWrap   fxLayoutAlign="space-evenly center"> -->
                      <img *ngIf="topMenu" fxFlex="40%" src="assets/images/impc.png" alt="IMPC Logo"/>
                    


            <!-- <nav><a routerLink="/home" >HOME</a></nav> -->
            <!-- <div id="menu-text-container" style="height: 100%;" fxFlex="70%"> -->
                <button fxFlex="40%" mat-button routerLinkActive="active">HOME</button>
                <button fxFlex="20%" mat-button>PROJECT</button>
                <!-- <a  routerLink="analysis" routerLinkActive="active"><button mat-button>ANALYSIS</button></a> -->
                <button fxFlex="20%" mat-button>METHODS</button>
                <!-- <a  routerLink="contact" routerLinkActive="active" ><button mat-button>CONTACT</button></a> -->

                <button fxFlex="20%" mat-button [matMenuTriggerFor]="menu2">DATA</button>
                <mat-menu #menu2="matMenu">
                    <a routerLink="faq" routerLinkActive="active"><button mat-menu-item>FAQ</button></a>
                    <a routerLink="glossary" routerLinkActive="active" ><button mat-menu-item>Glossary</button></a>
                    <a routerLink="publications" routerLinkActive="active"><button mat-menu-item>Publications</button></a>
                    <a routerLink="privacy" routerLinkActive="active"><button mat-menu-item>Privacy Policy</button></a>
                </mat-menu>
                <span class="software" *ngIf="!topMenu">Software v2.1</span>

            <!-- </span> -->
    

    <!-- <div id="menu-padding-right" fxFlex="10%">Padding right</div> -->
    <!-- </mat-toolbar-row> -->
</mat-toolbar>

