<div id="welcome">
  <h1>PHENOTYPE OF THE MONTH</h1>
</div>
<div id="main">
  <article *ngIf="phenoType == 'January'" >


    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Adgrd1</b></p>
    <p></p>
    <p><b>Adhesion G Protein-Coupled Receptor D1</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:3041203" target="_blank" >Data at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Heterozygous fertility: </b>Female infertility<br/>
    <b>Antinuclear antibodies:  </b>Increased level of antinuclear antibodies in serum<br/>
    <b>Mesenteric Lymph Node - </b>Increased effector γδ cells and KLRG1+ CD8 αβ T cells <br/>
    <b>DSS colitis:  </b>Decreased suspectibility to induced colitis: reduced average histology score<br/>
    <b>Body composition (DEXA): </b>Decreased bone mineral density in females<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>G-protein couled receptor of unknown function</li>
      <li>Complex N terminus containing a PTX and a GAIN domain</li>
      <li>Reported to be required for glioblastoma growth</li>
      <li>Highly polymorphic in humans: over 9000 SNPs identified (96% in introns)</li>
      <li>Genetic variation in humans has been linked to height and weight</li>
    </ul>
    <p></p>
    <p><span><a href="http://www.genecards.org" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org" target="_blank">MGI</a></span>&nbsp;
      <span><a href="http://www.omim.org" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1.	Bohenkamp J and Schöneberg T. Cell Adhesion Receptor GPR133 COuples to Gs Protein. J Biol Chem 286, 41912-16 (2011)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3234928/" target="_blank">Pubmed Link</a></span></li>
      <li>2.	Fischer L. et al. Functional relevance of naturally occuring mutations in adhesion G protein-coupled receptor ADGRD1 (GPR133). BMC Genomics 17, 609 (2016)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
      <li>3.	Bayin N.S. et al. GPR133(ADGRD1), an adhesion G-protein-coupled receptor, is necessary for glioblastoma growth. Oncogenesis 5, e263 (2016)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/27775701" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>


  <article  *ngIf="phenoType == 'February'" >

    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Bivm</b></p>
    <p></p>
    <p><b>Basic, immunoglobulin-like variable motif containing</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/search/gene?kw=Bivm" target="_blank" >Mice at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Ear epidermis: </b>decreased count of Vγ5+ dendritic epidermal T cells (DETC), presence of CD45+ Vγ5- MHC II- replacement cells in the epidermis<br/>
    <b>Antinuclear antibodies:  </b> Increased level of antinuclear antibodies in serum<br/>
    <b>Mesenteric Lymph Node - </b>Increased effector γδ cells and KLRG1+ CD8 αβ T cells <br/>
    <b>DSS colitis:  </b> Decreased suspectibility to induced colitis: reduced average histology score<br/>
    <b>Body composition (DEXA): </b> Decreased bone mineral density in females<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>possesses no sequence similarity with any described protein, making the prediction of a function challenging</li>
      <li>a CpG island at the 5' end and the wide tissue distribution may suggest a function as housekeeping gene</li>

    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=bivm">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org/marker/MGI:2179809" target="_blank">MGI</a></span>&nbsp;
    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>Yoder, J.A. et al. BIVM, a novel gene widely distributed among deuterostomes, shares a core sequence with an unusual gene in Giardia lamblia. Genomics 79, 750-5 (2002)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/12036287" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'March'" >
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Chd9</b></p>
    <p></p>
    <p><b>Chromodomain Helicase DNA Binding Protein 9</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:1924001" target="_blank" >Data at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Epidermal Immune composition: </b>Increased Langerhans cells in males and females<br/>
    <b>Plasma Chemistry: </b>Decreased amylase in males and females, decreased albumin in males<br/>

    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>Proposed role in chromatin remodelling</li>
      <li>Involved in transcriptional regulation of bone tissue differentiation</li>

    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=CHD9">Genecards</a> </span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li> 1.Kent, RS.  et al. New face for Chromatin-Related Mesenchymal Modulator: n-CHD9 localizes to nucleoli and interacts with ribosomal genes. J Cell Physiol. 230, 2270-80.(2015) <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/25689118" target="_blank">Pubmed Link</a></span></li>
      <li> 2.Kim, MS. et al. Genetic and expressional alterations of CHD genes in gastric and colorectal cancer. Histopathology 58, 660-8. (2011)  <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/21447119" target="_blank">Pubmed Link</a></span></li>
      <li> 3.Shur, I.  et al. In vivo association of CReMM/CHD9 with promoters in osteogenic cells. J Cell Physiol. 207, 374-8. (2006)  <br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/16419031" target="_blank">Pubmed Link</a></span></li>

    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'April'" >
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Clpp</b></p>
    <p></p>
    <p><b>Caseinolytic Mitochondrial Matrix Peptidase Protolytic Subunit</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:105303#section-associations" target="_blank" >Mice at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>16 week PBL - </b>decreased γδ T cell percentage in females, increased KLRG1+ NK cells, increased number of B cells and mature B cells in females, increased monocytes in females<br/>
    <b>Spleen - </b> Increased KLRG1+ NK cells, increased monocytes, reduced NKT cells, reduced CD4+ NKT cells, increased CD4- NKT cells,  increased Transitional 2 B cells<br/>
    <b>MLN - </b>Increased monocytes<br/>
    <b>Bone Marrow - </b>Increased B cells, reduced granulocytes  <br/>
    <b>DSS - </b>Increased weight loss, increased mortality<br/>
    <b>Fertility - </b>Infertility in homozygous males and females<br/>
    <b>Haematology - </b>Increased white blood cell count in females, increased corpuscular colume in females, increased mean corpuscular haemoglobin in females<br/>
    <b>Plasma Chemistry - </b>Increased total bilirubin, decreased circulating glucose in males, decreased circulating amylase in males, increased circulating alkaline phosphatase in males, increased circulating iron in males<br/>
    <b>Indirect calorimetry (males tested only) - </b>Decreased oxygen consumption, abnormal energy expenditure<br/>
    <b>Insulin - </b>Decreased circulating insulin<br/>
    <b>Body composition - </b>Decreaed bone mineral density, decreased bone mineral content, decreased bone area, decreased body weight, decreased nose to tailbase length in females, reduced estimated total tissue mass, reduced lean mass, reduced fat mass<br/>
    <b>Auditory Brainstem response - </b>Abnormal Click ABR waveform shape<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>Protease regulating protein levels through degradation</li>
      <li>Present in most bacteria and in the mitochondria of eukaryotic cells, encoded on chromosome 17 in mice and on chromosome 19 in humans</li>
      <li>Interacts with AAA+ chaperones which bind and unfold Clp P targets</li>
      <li>In human, biallelic pathogenic variations of Clpp cause Perrault Syndrome, a condition characterized by sensorineural hearing loss in both genders and ovarian dysfunction in females</li>
    </ul>
    <p></p>
    <p><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">MGI</a></span>&nbsp;
      <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1. Maurizi, M.R. et al. Sequence and structure of Clp P, the proteolytic component of the ATP-dependent Clp protease of Escherichia coli. J Biol Chem 265, 12536-45 (1990)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>2. Yu, A.Y. and Houry, W.A.ClpP: a distinctive family of cylindrical energy-dependent serine proteases. FEBS Letters 581, 3749-57 (2007)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>3. Liu, K., Ologbenla, A., Houry, W.A. et al. Dynamics of the ClpP serine protase: a model for self-compartmentalized proteases. Crit Rev Biochem Mol Biol 49, 400-12 (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>4. Newman W.G., Friedman T.B., Conway, G.S.Perrault Syndrome. Gene Reviews (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'May'" >
    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Cxcr2</b></p>
    <p></p>
    <p><b>C-X-C chemokine receptor 2</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:105303#section-associations" target="_blank" >Data at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>16 week PBL - </b>increased CD4 αβ effector T cells in males and females, increased CD8 αβ effector T cells in males, increased γδ T cells in males and females,  decreased B cells in females, increased neutrophils in females and monocytes in females and males; no difference in heterozygous mice<br/>
    <b>Spleen - </b> Increased effector CD4 and CD8 αβ T-cells, increased effector γδ T cells, increased granulocytes, increased eosinophils <br/>
    <b>Bone Marrow - </b>Increased granulocytes  <br/>
    <b>Plasma Chemistry - </b>Decreased glucose and increased creatinine in heterozygous females; ecreased total protein in homozygous males and females <br/>
    <b>Anti-nuclear antibody assay - </b>Increased anti-nuclear antibodies in serum<br/>
    <b>Salmonella Challenge -</b> Increased weight loss and bacterial count in liver and ceacal contents<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>G-protein coupled receptor</li>
      <li>involved in immune cell migration</li>
      <li>expressed at high levels on circulating neutrophils</li>
      <li>involved in senescence, cancer and diseases caused by activated neutrophils</li>
    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=CXCR2&keywords=cxcr2" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="http://www.omim.org/entry/146928?search=cxcr2&highlight=cxcr2" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1. Wu, D. et al. Characterization of two high affinity human interleukin-8 receptors (1993). Science. 261, 101-3<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/8316840" target="_blank">Pubmed Link</a></span></li>
      <li>2. Del Rio, L. et al. CXCR2 deficiency confers impaired neutrophil recruitment and increased susceptibility during Toxoplasma gondii infection.J Immunol. 167,6503-9 (2001)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
      <li>3. Acosta, JC. et al. Chemokine signaling via the CXCR2 receptor reinforces senescence. Cell 2133, 1006-18 (2008)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/18555777" target="_blank">Pubmed Link</a></span></li>
      <li>4. Jamieson, T. et al. Inhibition of CXCR2 profoundly suppresses inflammation-driven and sponaneous tumorigensis. J Clin Invest. 122, 3127-44 (2012)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/22922255" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'June'" >
    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Gimap6</b></p>
    <p></p>
    <p><b>GTPase, IMAP family member 6</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/search?q=Gimap6#fq=*:*&facet=gene" target="_blank" >Data at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>6 week PBL: </b>Decreased total T cell, αβ T cell and CD4 αβ T cell % females and males, Decreased NKT cell % females and males<br/>
    <b>16 week PBL: </b>Increased monocyte % female and males<br/>
    <b>16 week Spleen:  </b>Decreased NKT cell % females and males  <br/>
    <b>Salmonella Challenge: </b>Abnormal weight loss  <br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>GTPases of the immunity associated protein family (Gimaps) are a family of 8 genes that encode putative small GTPases </li>
      <li>Primarily expressed in cells of the immune system </li>
      <li>Gimap family members implicated in T and B-cell development and survival</li>
    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=GIMAP6&search=ccbb10f2eb2e5201bc2e3cdd36f5458a" target="_blank">Genecards</a> </span>&nbsp;


    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1. Saunders, A. et al. Putative GTPase GIMAP1 is critical for the development of mature B and T lymphocytes. Blood 115, 3249–3257 (2010)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/20194894" target="_blank">Pubmed Link</a></span></li>
      <li>2. Ciucci, T. & Bosselut, R. Gimap and T cells: A matter of life or death. Eur. J. Immunol. 44, 348–351 (2014)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24510500" target="_blank">Pubmed Link</a></span></li>
      <li>3. Filén, S. & Lahesmaa, R. GIMAP Proteins in T-Lymphocytes. Journal of Signal Transduction 2010, 1–10 (2010)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/21637352" target="_blank">Pubmed Link</a></span></li>
      <li>4.	Yano, K. et al. Gimap3 and Gimap5 cooperate to maintain T-cell numbers in the mouse. Eur. J. Immunol. 44, 561–572 (2013)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24510501" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>
  <article  *ngIf="phenoType == 'July'" >
    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Gmds</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">GDP mannose 4,6-dehydratase</b></p>
    <p></p>
    <p><b>Basic, immunoglobulin-like variable motif containing</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/search/gene?kw=Bivm" target="_blank" >Mice at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Ear epidermis: </b>decreased count of Vγ5+ dendritic epidermal T cells (DETC), presence of CD45+ Vγ5- MHC II- replacement cells in the epidermis<br/>
    <b>Antinuclear antibodies:  </b> Increased level of antinuclear antibodies in serum<br/>
    <b>Mesenteric Lymph Node - </b>Increased effector γδ cells and KLRG1+ CD8 αβ T cells <br/>
    <b>DSS colitis:  </b> Decreased suspectibility to induced colitis: reduced average histology score<br/>
    <b>Body composition (DEXA): </b> Decreased bone mineral density in females<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>possesses no sequence similarity with any described protein, making the prediction of a function challenging</li>
      <li>a CpG island at the 5' end and the wide tissue distribution may suggest a function as housekeeping gene</li>

    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=bivm">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org/marker/MGI:2179809" target="_blank">MGI</a></span>&nbsp;
    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>Yoder, J.A. et al. BIVM, a novel gene widely distributed among deuterostomes, shares a core sequence with an unusual gene in Giardia lamblia. Genomics 79, 750-5 (2002)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/12036287" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'August'" >

    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">PAF</b></p>
    <p></p>
    <p><b>P15(PAF)/ mKIAA0101/ RIKEN cDNA 2810417H13</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:1915276" target="_blank" >Mice at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Spleen - </b> Increased conventional DCs low (CD11b low), decreased conventional DCs high (CD11b high), decreased plasmacytoid DCs, decreased CD5+ γδ T cells, decreased immature NK cells and increased mature NK cells<br/>
    <b>Mesenteric lymph nodes - </b>Decreased total DCs<br/>
    <b>Bone Marrow - </b>Decreased plasma cells, decreased pro B cells Hardy fraction A, and decreased CD3+ T cells <br/>
    <b>Peripheral blood leukocytes - </b>Decreased CD4+ regulatory T cells<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>•	p15(PAF) is a 12 kDa nuclear protein that acts as a regulator of DNA repair during DNA replication (see reference 1 below)</li>
      <li>•	genetic disruption of PAF by homologous recombination in mice results in altered hematopoietic stem cells function, disrupted progenitor development and leukopenia (see reference 2 below)</li>
      <li>•	overexpressed in several types of human cancer and is associated with poor prognosis (see reference 3 below)</li>
    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=PCLAF" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org/marker/MGI:1915276" target="_blank">MGI</a></span>&nbsp;
    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>•	L. Turchi et al. ATF3 and p15PAF are novel gatekeepers of genomic integrity upon UV stress (2009). Cell Death and Differentiation 16, 728–737<br/><span><a href="https://www.nature.com/articles/cdd20092" target="_blank">Pubmed Link</a></span></li>
      <li>•	Y.M Amrani et al. The Paf oncogene is essential for hematopoietic stem cell function and development (2011). JEM  208 (9), 1757-1765<br/><span><a href="http://jem.rupress.org/content/208/9/1757" target="_blank">Pubmed Link</a></span></li>
      <li>•	S. Jun et al. PAF-Mediated MAPK Signaling Hyperactivation via LAMTOR3 Induces Pancreatic Tumorigenesis (2013). Cell Rep 5(2), 314–322<br/><span><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4157353/pdf/nihms622445.pdf" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>

  <article  *ngIf="phenoType == 'September'" >
    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Peptidase D</b></p>
    <p></p>
    <p><b>Peptidase D / Prolidase</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:97542#order2" target="_blank" >Mice at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>16 week PBL - </b>decreased γδ T cell percentage in females, increased KLRG1+ NK cells, increased number of B cells and mature B cells in females, increased monocytes in females<br/>
    <b>Spleen - </b> Increased KLRG1+ NK cells, increased monocytes, reduced NKT cells, reduced CD4+ NKT cells, increased CD4- NKT cells,  increased Transitional 2 B cells<br/>
    <b>MLN - </b>Increased monocytes<br/>
    <b>Bone Marrow - </b>Increased B cells, reduced granulocytes  <br/>
    <b>DSS - </b>Increased weight loss, increased mortality<br/>
    <b>Fertility - </b>Infertility in homozygous males and females<br/>
    <b>Haematology - </b>Increased white blood cell count in females, increased corpuscular colume in females, increased mean corpuscular haemoglobin in females<br/>
    <b>Plasma Chemistry - </b>Increased total bilirubin, decreased circulating glucose in males, decreased circulating amylase in males, increased circulating alkaline phosphatase in males, increased circulating iron in males<br/>
    <b>Indirect calorimetry (males tested only) - </b>Decreased oxygen consumption, abnormal energy expenditure<br/>
    <b>Insulin - </b>Decreased circulating insulin<br/>
    <b>Body composition - </b>Decreaed bone mineral density, decreased bone mineral content, decreased bone area, decreased body weight, decreased nose to tailbase length in females, reduced estimated total tissue mass, reduced lean mass, reduced fat mass<br/>
    <b>Auditory Brainstem response - </b>Abnormal Click ABR waveform shape<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>Protease regulating protein levels through degradation</li>
      <li>Present in most bacteria and in the mitochondria of eukaryotic cells, encoded on chromosome 17 in mice and on chromosome 19 in humans</li>
      <li>Interacts with AAA+ chaperones which bind and unfold Clp P targets</li>
      <li>In human, biallelic pathogenic variations of Clpp cause Perrault Syndrome, a condition characterized by sensorineural hearing loss in both genders and ovarian dysfunction in females</li>
    </ul>
    <p></p>
    <p><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">MGI</a></span>&nbsp;
      <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1. Maurizi, M.R. et al. Sequence and structure of Clp P, the proteolytic component of the ATP-dependent Clp protease of Escherichia coli. J Biol Chem 265, 12536-45 (1990)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>2. Yu, A.Y. and Houry, W.A.ClpP: a distinctive family of cylindrical energy-dependent serine proteases. FEBS Letters 581, 3749-57 (2007)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>3. Liu, K., Ologbenla, A., Houry, W.A. et al. Dynamics of the ClpP serine protase: a model for self-compartmentalized proteases. Crit Rev Biochem Mol Biol 49, 400-12 (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>4. Newman W.G., Friedman T.B., Conway, G.S.Perrault Syndrome. Gene Reviews (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>
  <article  *ngIf="phenoType == 'October'" >

    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">setd5</b></p>
    <p></p>
    <p><b>SET domain containing 5</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:1920145#section-associations" target="_blank" >MICE at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary(Heterozygots):</b></p>
    <p></p>
    <b>Recessive Lethality: </b>No homozygous embros detecetd at E14.5 (n=32)<br/>
    <b>Heterozygous viability: </b>Heterozygous x wild type breeding pairs generated wild type and heterozygous offspring at a ratio of 7:3 (n=425)<br/>
    <b>16 week PBL: </b>increased percentage of Treg cells in females, increased percenage of monocytes in females<br/>
    <b>DSS colitis: </b>Increased weight loss<br/>
    <b>Weight curve: </b>Males have reduced weight<br/>
    <b>Dysmorpholgy: </b>Abnormal hair colour and hair pattern in females, abnormal snout morphology in males and females, abnormal snout size in males<br/>
    <b>Micronuclei: </b>Increased genomic instablility as detected by the increased presence of micronuclei<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>•	Predicted to encode a methyltransferase</li>
      <li>•	Encoded on chromosome 3 in humans, in a region (3p25) associated with intellectual disability</li>
      <li>•	One of the genes often lost in 3p25 microdeletion syndrome</li>
      <li>•	Loss of function mutations lead to autosomal dominant mental retardation (MRD23)</li>
    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=SETD5&keywords=setd5" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org/marker/MGI:1920145" target="_blank">MGI</a></span>&nbsp;
      <span><a href="http://www.omim.org/search/?index=entry&sort=score+desc%2C+prefix_sort+desc&start=1&limit=10&search=setd5" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1.	Kellogg, G. et al. Deletion of 3p25.3 in a patient with intellectual disability and dysmorphic features with further definition of a critical region. Am J Med Genet 161A, 1405-8 (2013)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/23613140" target="_blank">Pubmed Link</a></span></li>
      <li>2.	Grozeva, D. et al. De novo loss-of-function mutations in SETD5, encoding a methyltransferase in a 3p25 microdeletion syndrome critical region, cause intellectual disability. Am J Hum Genet 94, 618-24 (2014)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/24680889" target="_blank">Pubmed Link</a></span></li><li>Del Rio, L. et al. CXCR2 deficiency confers impaired neutrophil recruitment and increased susceptibility during Toxoplasma gondii infection.J Immunol. 167,6503-9 (2001)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
      <li>3.	Kuechler A. et al. Loss-of-function variants of SETD5 cause intellectual disability and the core phenotype of microdeletion 3p25.3 syndrome. Eur J Hum Genet 23, 753-60 (2015)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/25138099" target="_blank">Pubmed Link</a></span></li>
      <li>4.	OMIM entry on autosomal dominant mental retardation-23 (MRD23)<br/><span><a href="http://www.omim.org/entry/615761?search=setd5&highlight=setd5" target="_blank">OMIM LINK</a></span></li>
    </ul>

    <p></p>
    <p></p>

  </article>
  <article  *ngIf="phenoType == 'November'" >

    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Wdtc1</b></p>
    <p></p>
    <p><b>WD and tetratricopeptide repeats 1 / adipose</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/genes/MGI:105303#section-associations" target="_blank" >Data at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Mesenteric lymph nodes: </b>Increased CD8 T cells<br/>
    <b>Influenza Challenge: </b>Increased weight loss<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>•	Ortholog of the Drosophila gene adp (adipose)</li>
      <li>•	In humans, WDTC1 expresion in adipose tissue is associated with lower fat mass and enhanced insulin sensititvity</li>

    </ul>
    <p></p>
    <p><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi">MGI</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1.	Suh M.J. et al. dipose is a conserved dosage-sensitive anti-obesity gene. Cell Metab 6, 195-207 (2007)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>2.	Galgani J.E. et al. Adipose tissue expression of adipose (WDTC1) gene is associated with lower fat mass and enhanced insulin sensitivity in humans. Obesity (Silver Springs) 21, 2244-8 (2013)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
      <li>3.	Wu, Y. et al. Adipose induces myoblast differentiation and mediates TNFa-regulated myogenesis. Biochim Biophys Acta 1839, 1183-95 (2014)<br/><span><a href="https://zuul.sanger.ac.uk/dana-na/auth/url_default/welcome.cgi" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>
  </article>
  <article  *ngIf="phenoType == 'December'" >

    <p></p>
    <p><b style="font-size: 30px; color:#0978A1;">Phenotype of the month</b></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px; color:#0978A1;">Zfp408</b></p>
    <p></p>
    <p><b>zinc finger protein 408</b></p>
    <p><span><a href="http://www.mousephenotype.org/data/search/gene?kw=Bivm" target="_blank" >MICE at IMPC</a></span></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Phenotype Summary:</b></p>
    <p></p>
    <b>Ear epidermis: </b>decreased count of Vγ5+ dendritic epidermal T cells (DETC) not contacting Langerhans cells<br/>
    <b>Eye morphology:</b>no phenotype<br/>
    <p></p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Gene information:</b></p>
    <ul style="list-style-type:disc">
      <li>•	Predicted to be a DNA-binding molecule</li>
      <li>•	Crucial for the development of retinal vasculature in zebrafish</li>
      <li>•	Mutated in families with exudative vitreoretinopathy, a genetic disorder affecting the growth and development of blood vessels in the retina</li>
      <li>•	Mutated in families with Retinitis pigmentosa, a group of genetic disorders causing progressive visual impairment due to photo receptor cell death</li>
      <li>•	a CpG island at the 5' end and the wide tissue distribution may suggest a function as housekeeping gene</li>
    </ul>
    <p></p>
    <p><span><a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene=ZNF408" target="_blank">Genecards</a> </span>&nbsp;
      <span><a href="http://www.informatics.jax.org/searchtool/Search.do?query=zfp408">MGI</a></span>&nbsp;
      <span><a href="http://www.omim.org" target="_blank">OMIM</a></span>&nbsp;

    </p>
    <p></p>
    <p></p>
    <p><b style="font-size: 20px;">Read more:</b></p>
    <ul style="list-style-type:disc">
      <li>1.	Collin, R.W. et al. ZNF408 is mutated in familial exudative vitreoretinopathy and is crucial for the development of zebrafish retinal vasculature. PNAS 110, 9856-61 (2013)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/23716654" target="_blank">Pubmed Link</a></span></li>
      <li>2.	Avila-Fernandez, A. et al. Whole-exome sequencing reveals ZNF408 as a new gene associated with autosomal recessive retinitis pigmentosa with vitreal alterations. Hum Mol Genet 24, 4037-48 (2015)<br/><span><a href="https://www.ncbi.nlm.nih.gov/pubmed/11714818" target="_blank">Pubmed Link</a></span></li>
    </ul>

    <p></p>
    <p></p>


  </article>


</div>



