/* You can add global styles to this file, and also import other style files */
/* ::ng-deep .mat-button-focus-overlay {
    background-color:orange;
} */

/* #mn > div > a:nth-child(1) > button > span {
    background-color:orange;
} */

#mn > div > a > button.active .mat-button-focus-overlay{
    background-color:orange;
}

/* #mn > div > a:nth-child(2) > button > span{
    color: orange
} */

/* .highcharts-container, .highcharts-container svg { width: 100% !important; } */

#wrapper{
    position:relative;
}
html, body, div, applet, object, iframe, h1,h2, h3, h4, h5, h6, p, a, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
input, textarea, select, body {
    background: #fff;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    font-weight: 400;
    font-size: 100%;
    line-height: 1.3em;
    color: #666;

}
#header {
    padding: 1.1em 0;
    background-color: #eee;
    border-bottom: #ddd 1px solid;
}

#logo {
    height: 70px;
    padding-top: 2px;
}

ol, ul {
    list-style: none;
}
#mn{position:absolute;margin-left:25%;margin-top:54px;top:1px;}
#mn li{float:left;font-size:1em;margin-right:0.3em;}
#mn li li{float:none;font-size:0.8em;font-weight:400;background:#eee;margin-right:0;border-left:#ccc 1px solid;border-right:#ccc 1px solid;}
#mn li.active > a,#mn li.active-trail > a,#mn li:hover > a{border-left-color:#666;background:#EF7B0B;color:#fff;}
#mn li:hover + li a{border-left-color:#eee;}
#mn li li a{border-left:none;border-radius:0 !important;}
#mn li li.active a,#mn li li:hover > a{background:none;color:#000;text-decoration:underline;}
#mn ul{padding:0;margin:0;text-transform:uppercase;}
#mn li:hover ul{transform:rotateX(0deg);height:auto;opacity:1;top:auto;}
#mn li li:last-child{padding-bottom:0.3em;border-bottom:#ccc 1px solid;}
#mn li li + li{border-top:#ccc 1px dotted;}


#mn li:first-child a {
    border-left: none;
}
#mn li a {
    text-decoration: none;
    color: #666;
    display: block;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#mn ul ul {
    transform: rotateX(30deg);
    height: 30px;
    overflow: hidden;
    text-transform: none;
    opacity: 0;
    position: absolute;
    top: auto;
    z-index: 3000;
    padding-top: 0.4em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#mn li li {
    float: none;
    font-size: 0.8em;
    font-weight: 400;
    background: #eee;
    margin-right: 0;
    border-left: #ccc 1px solid;
    border-right: #ccc 1px solid;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#mn li li a {
    border-left: none;
    border-radius: 0 !important;
}
#mn li li:last-child {
    padding-bottom: 0.3em;
    border-bottom: #ccc 1px solid;
}
#mn li li + li {
    border-top: #ccc 1px dotted;
}
.region-header, .centercontent, #footerlogos, #main {
    position: relative;
    margin: 0 auto;
    padding: 0 25px;
}
/*Aside CSS*/
#main {
    padding-bottom: 6em;
    padding-top: 3em;
  /* z-index: -1; */
}

div#block-block-1, #block-views-phenotype-of-the-month-block-1 {
    border: none;
}
.region-sidebar-first .block, .region-sidebar-second .block {
    border: #ddd 1px solid;
}
div#block-block-1 .head, #block-views-phenotype-of-the-month-block-1 .head {
    color: #fff;
    background-color: #0978a1;
    font-size: 1.4em;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.region-sidebar-second p{
    font-size:1em;
}

table{
    margin:1em 0;
}
.accordion-group + h1,.accordion-group + h2,.accordion-group + h3,.accordion-group + h4,.section + h1,.section + h2,.section + h3,.section + h4,.section + h5,.section + h6,.section + p{
    padding-top:1.5em;
}
.section + .section{
    margin-top:3em;
}
.section.half{
    margin-bottom:3em;
    margin-top:2em;
}
p + .block-views,p + .view,ul + .section,p + .section,p + table,ul + table,table + h1,table + h2,table + h3,table + h4,table + h5,table + h6,.columns + h1,.columns + h2,.columns + h3,.columns + h4,.columns + h5,.columns + p,.spalten + h1,.spalten + h2,.spalten + h3,.spalten + h4,.spalten + h5,#content p + img,#content img + h2,#content img + h3,p + h2,p + h3,p + h4,ul + h2,ul + h3,ul + h4,ul + h5{
    margin-top:2em;
}
p + .accordion-group,.view + p,.view + .view,ul + p,p + ul,h1 + ul,h2 + ul,h3 + ul,h4 + ul,p + h5,p + h6,.block + h1,.block + h2,.block + h3,.block + h4,.block + h5,.block + h6,.view + h1,.view + h2,.view + h3,.view + h4,.view + h5,.view + h6,div.with-label + p,p + div.with-label,p + p{margin-top:1em;}
h1 + h2,h1 + h3,h1 + h4,h1 + h5,h2 + h3,h2 + h4,h2 + h5,h3 + h4,h3 + h5,h4 + h5{
    margin-top:-0.6em;
}
.gap{
    margin:2em 0;
}
input,textarea,select{
    border:#ddd 2px solid;
    color:#666;
}
input[type="checkbox"]{
    border:none;
}
input[type="text"],input[type="email"],input[type="password"]{
    width:99%;
    padding-left:10px;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
textarea{
    width:99%;
    padding-left:10px;
    padding-top:0.3em;
    padding-bottom:0.3em;
}
input:focus,textarea:focus{
    border-color:#ccc;
}
input.auto{
    width:auto;
}
.form-textarea.error,.form-text.error{
    background-color:#FDF2E6;
}

.sidebar-first .region-content{
    margin-left:4%;
}
#block-system-user-menu,#tn{
    float:right;
    margin-top:-0.4em;
    line-height:0.8em;
    font-size:1em;
    color:#fff;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#block-system-user-menu li,#tn li{
    float:left;
    margin-left:2.5em;
}
#block-system-user-menu i,#tn i{
    color:#777;
    margin-right:5px;
}
#block-system-user-menu a,#tn a{
    text-decoration:none;
    color:#777;
}
#block-system-user-menu a:hover,#tn a:hover{
    text-decoration:underline;
}
#messages:before{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    position:absolute;
    margin-left:-1.25em;
}
#my-impc:before,#login:before,#logout:before,#register:before,#logout:before{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    position:absolute;
    margin-left:-1em;
}
#my-impc:before,#login:before{
    content:"\f007";
}
#register:before{
    content:"\f090";
}
#logout:before{
    content:"\f08b";
}
#messages:before{
    content:"\f0e0";
}
.front #main{
    padding-top:3em;
}
.front #header{
    padding:0 0 1.4em 0;
}

#fn{
    float:right;
}
#fn li{
    float:left;
    margin-left:1em;
}
#fn a{
    text-decoration:underline;
    color:#fff;
}
#fn a:hover{
    text-decoration:underline;
}
#footersitemap{
    padding-bottom:2em;
}
#footersitemap a{
    text-decoration:none;
    color:#fff;
}
#footersitemap a:hover{
    text-decoration:underline;
}
#footersitemap li{
    font-size:1.5em;
    float:left;
    padding-right:0.7em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#footersitemap li li{
    font-size:0.8em;
    float:none;
    width:auto;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#footersitemap ul ul{
    margin-top:0.5em;
}
#vnavi{
    float:right;
    padding:0.5em 1em;
    background:#777;
    margin-bottom:1em;
}
#vnavi a{
    color:#fff;
}
#vnavi li{
    float:left;
}
#vnavi li + li{
    margin-left:1em;
}
.breadcrumb{
    position:absolute;
    z-index:0;
    margin-top:-4em;
    font-size:0.8em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.breadcrumb a{
    color:#666;
}
.breadcrumb a:hover{
    color:#0978a1;
}
.page-contact .breadcrumb,.not-logged-in.page-user .breadcrumb{
    display:none;
}
.af-button-large,input[type="submit"],.btn{
    display:inline-block;
    white-space:nowrap;
    word-wrap:normal;
    border:none;
    color:#fff;
    text-decoration:none;
    background:#777;
    color:#fff;
    padding:.3em .6em;
    cursor:pointer;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.af-button-large:hover,input[type="submit"]:hover,.btn:hover{
    text-decoration:none;
    color:#fff;
    background-color:#0978a1;
}
.btn i{
    margin-right:0.3em;
}
td .btn{
    background-color:#eee;
    color:#777;
}
td .btn:hover{
    background-color:
            #0978a1;color:#fff;
}
.btn.editlink{
    opacity:0.3;
}
.btn.editlink:hover{
    opacity:1;
}
p.editlink{
    margin-top:2em;
    padding-top:1em;
    border-top:#eee 1px dotted;
}
.half{
    float:left;
    width:50%;
}
.onethird{
    float:left;
    width:29%;
}
.twothird{
    float:left;
    width:71%;
}
.node-page .half{
    margin-bottom:2em;
}
.node-page .half.first{
    padding-right:2%;
    width:48%;
}
.node-page .half.first + .half{
    padding-left:2%;
    width:48%;
}
.region-pinned{
    top:-100px;
    color:#fff;
    background:#666;
    position:fixed;
    width:100%;
    z-index:50000;
    -webkit-transition:top 0.8s ease-in-out;
    -moz-transition:top 0.8s ease-in-out;
    -o-transition:top 0.8s ease-in-out;
    transition:top 0.8s ease-in-out;
}
.pinned .region-pinned{
    top:0px;
}
#flyingnavi{
    width:65%;
    max-width:1200px;
    min-width:960px;
    margin:0 auto;
    padding:0.7em 0;
}
#flyingnavi i{
    display:inline;
    float:left;
    cursor:pointer;
}
#flyingnavi i:hover{
    color:#fff;
}
#flyingnavi a{
    color:#fff;
    text-decoration:none;
}
#flyingnavi a:hover{
    color:#fff;
    text-decoration:underline;
}
#flyingnavi li{
    float:left;
    margin-left:1em;
    padding-left:1em;
    font-weight:400;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#flyingnavi li + li{
    border-left:#fff 1px solid;
}
#flyingnavi li:first-child{
    margin-left:0;
}
#flyingnavi ul{
    float:left;
}
#block-menu-menu-goals-anchor-menu{
    width:65%;
    max-width:1200px;
    min-width:960px;
    margin:0 auto;
    padding:0.7em 0;
}
#block-menu-menu-goals-anchor-menu i{
    display:inline;
    float:left;
    cursor:pointer;
}
#block-menu-menu-goals-anchor-menu i:hover{
    color:#fff;
}
#block-menu-menu-goals-anchor-menu a{
    color:#fff;
    text-decoration:none;
}
#block-menu-menu-goals-anchor-menu a:hover{
    color:#fff;
    text-decoration:underline;
}
#block-menu-menu-goals-anchor-menu li{
    float:left;
    margin-left:1em;
    padding-left:1em;
    font-weight:400;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#block-menu-menu-goals-anchor-menu li + li{
    border-left:#fff 1px solid;
}
#block-menu-menu-goals-anchor-menu li:first-child{
    margin-left:0;
}
#block-menu-menu-goals-anchor-menu ul{
    float:left;
}
.region-sidebar-second .block + .block{
    margin-top:2em;
}
.region-content .block + .block{
    margin-top:4em;
}
.view-header,.block .head{
    font-weight:300;
    color:#333;
    letter-spacing:-0.01em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.view-header i,.block .head i{
    margin-right:0.3em;
}
.block .head img{
    float:right;
}
.region-content .view-header,.region-content .block .head{
    font-size:1.8em;
    margin-bottom:0.5em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.region-sidebar-first .block .head,.region-sidebar-second .block .head{
    font-size:1.4em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.region-sidebar-first .block,.region-sidebar-second .block{
    border:#ddd 1px solid;
}
.region-sidebar-first .block .head,.region-sidebar-second .block .head{
    padding:0.8em;
}
.region-sidebar-first .block .content,.region-sidebar-second .block .content{
    padding:1em;
    background:#eee;
}
#searchbox{
    border-color:#0978a1;
    border:none;
    padding-bottom:5.5em;
    background:url(/static/images/impc_logo.png);
    background:#eee;
}
#searchbox .head,#searchbox .content{
    background:#0978a1;
    color:#fff;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
}
#searchbox .head{
    padding-bottom:0.8em;
}
#searchbox .content{
    padding-bottom:1.3em;
    padding-top:0;
}
#q{
    padding-left:0;
    padding-top:.5em;
    text-indent:1.8em;
    padding-bottom:.5em;
    font-size:1.2em;
    border:none;
    color:#0978a1;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#sicon{
    position:absolute;
    color:#0978a1;
    margin-left:0.5em;
    margin-top:0.6em;
    font-size:1.2em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.reposition{
    position:absolute;
    color:#666;
    margin-top:2em;
}
.reposition .btn{
    background:#0978a1;
}
.reposition .btn:hover{
    background:#777;
}
#bigsearchbox{
    background:#0978a1;
    padding:0.5em;
}
#bigsearchbox input{
    padding-left:0;
    text-indent:10px;
    width:100%;
}
#block-block-14 .head{
    background:url(/static/images/impresslogo.jpg) center right no-repeat;
    padding-right:0;
    margin-right:1em;
}
.region-contenttop,.region-slogan{
    padding-bottom:3em;
}
#slogantext{
    width:72%;
    float:left;
}
#sloganbutton{
    width:28%;
    float:left;
    font-size:1.2em;
    margin-top:0.5em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#slogantext h1{
    margin:0;
    font-size:2.2em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.view-latest-news .view-header,.block-system .block-views .head{
    padding:0.5em;
    margin:0;
    background:#777;
    color:#fff;
}
.view-latest-news .view-content,.block-system .block-views .view-content{
    border:#ddd 1px solid;
    border-top:none;
    padding:0.5em 0;
}
.view-latest-news .views-row,.block-system .block-views .entry .content{
    padding:0.5em 1em;
}
.view-latest-news .views-field-title,.block-system .block-views .entry .headline{
    padding:0 2em 0 0;
}
.views-field-field-date,.date{
    font-size:0.9em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#slider{
    background:#eee;
}
.newslide{
    display:none;
    padding:1.5em 0;
    border:#ddd 0px solid;
}
.newslide.active{
    display:block;
}
#slider .views-field-body, .slidetext
{
    float:left;
    width:66%;
}
.slidetext{
    float:left;
}
#slider .views-field-body .field-content{
    padding:0 0 1.5em 1.5em;
}
#slider h3,.slidetext h3{
    margin-bottom:0.3em;
}
#slider .views-field-field-image,.slideimage{
    float:left;
    width:33%;
    padding-bottom:1.5em;
}
#slider .views-field-field-image img,.slideimage img{
    width:100%;
    height:auto;
}
.sliderbar{
    background:#fff;
    color:#ccc;
    border:#eee 1px solid;
    border-top:none;
}
.sliderbar ul{
    float:right;
    padding-right:1em;
}
.sliderbar li{
    float:left;
    cursor:pointer;
    padding:0.5em 0.3em !important;
    font-size:0.9em;
    list-style:none;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.sliderbar li.active{
    color:#0978a1;
}
.intro{
    line-height:1.1em;
    font-size:1.3em;
    margin-bottom:1em;
    color:#0978a1;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.columns,.spalten{
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    -moz-column-gap:3em;
    -webkit-column-gap:3em;
    column-gap:3em;
}
img.fullimg{
    width:100%;
    height:auto;
}
.node img{
    max-width:100%;
}
.attachment-file{
    margin-top:0.5em ;
}
.attachment-file .btn{
    background:none;
    color:#444;
}
.attachment-file .btn:hover{
    background:#0978a1;
    color:#fff;
}
.node-type-article .node-article .date-display-single{
    display:block;
    padding-bottom:1em;
}
.node-teaser + .node-teaser{
    margin-top:3em;
}
.oklist li{
    list-style:none outside;
    padding-left:1.2em;
}
.oklist li + li{
    margin-top:0.5em;
}
.oklist li:before{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    content:"\f00c";
    position:absolute;
    margin-left:-1.2em;
}
table{
    width:100%;
}
td,th{
    padding:0.5em 0.7em 0.5em 0.2em;
    word-wrap:break-word;
}
th{
    font-weight:300;
    padding-left:0.2em;
    font-size:1.2em;
    color:#333;
    border-bottom:#777 1px solid;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
@media only screen and (min-width:1450px){
    th{
        font-size:1.4em;
        font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    }
}
th a{
    text-decoration:none;
    color:#333;
}
p.nowrap,th.nowrap,.nowrap th{
    white-space:nowrap;
}
th i{
    color:#ccc;
}
.reduceheader th{
    font-size:1.3em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
td{
    border-bottom:#efefef 1px solid;
    vertical-align:top;
}
tr:last-child td{
    border-bottom:none;
}
tr.clickable:hover,tr.clickable.open{
    background:#f4f4f4;
}
tr.clickable:hover .fa-minus,tr.clickable:hover .fa-plus{
    color:#0978A1;
}
td .title{
    font-size:1.4em;
    margin-bottom:0.5em;
    font-weight:600;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
td .title a{
    text-decoration:none;
}
td .title a:hover{
    text-decoration:underline;
}
.registerforinterest{
    white-space:nowrap;
}
tr .subinfo{
    visibility:hidden;
    font-size:0.9em;
    line-height:1em;
    color:#aaa;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
tr:hover .subinfo{
    visibility:visible;
}
.label{
    font-weight:600;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.loadmore td{
    color:#666;
    cursor:pointer;
}
.loadmore:hover td{
    background-color:inherit;
    color:#0978a1;
    cursor:pointer;
}
.reset tr,.reset th{
    padding:0;
    font-size:inherit;
    font-weight:inherit;
    border:none;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div.with-label,p.with-label{
    padding-left:150px;
}
div.with-label span.label,p.with-label span.label{
    position:absolute;
    margin-left:-150px;
}
div.no-margin + p,p.no-margin + p{
    margin-top:0;
}
.pagination{
    float:right;
}
.pagination li{
    float:left;
}
.pagination li + li{
    margin-left:0.3em;
}
.pagination a{
    display:block;
    color:#777;
    text-decoration:none;
    padding:0.2em 0.5em;
    background:#eee;
}
.pagination .active a,.pagination a:hover{
    background:#0978a1;
    color:#fff;
}
.pagination .disabled a{
    text-decoration:none;
    color:#aaa;
}
.pagination .disabled a:hover{
    background:#eee;
}
#block-block-5,#facet{
    position:relative;
}
#block-block-5 .head,#facet .head{
    background:#0978a1;
    color:#fff;
}
#block-block-5 .content,#facet .content{
    background:none;
}
#facet table{
    padding:0;
    margin:0.5em 0 2em 0;
    clear:left;
}
#facet td{
    cursor:pointer;
    word-wrap:break-word;
    padding-right:0;
    border:none !important;
}
#facet .facetSubCat td{
    font-weight:600;
    padding-left:0.2em;
    padding-top:0.5em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#facet .facetSubCat:hover td{
    background:none;
    cursor:inherit;
}
.facetCat{
    font-weight:300;
    margin:0.5em 0;
    color:#0978a1;
    padding-left:0.8em;
    font-size:1.4em;
    cursor:pointer;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.geneSubTypeTrCap td:before,.facetSubCat td:before,.facetCat:before{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    content:"\f0da";
    position:absolute;
    margin-left:-0.8em;
}
td.unCollapse:before,.facetCat.facetCatUp:before{
    content:"\f0d7";
}
.geneSubTypeTrCap{
    cursor:pointer;
}
.facetSubCat td,.geneSubTypeTrCap td{
    padding-left:1em !important;
}
#facet div{
    position:relative;
}
.facetCount{
    position:absolute;
    font-size:0.8em;
    right:0.2em;
    margin-top:-2em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.imgSubfacetCount,.geneSubfacetCount{
    text-align:right;
}
.geneSubfacetCount a{
    color:#777;
    text-decoration:none;
}.subFacet td:first-child{
     padding-left:0px !important;width:20px !important;margin:0;
 }
.geneSubTypeTr td,.subFacet td{
    padding-top:0em;
    padding-bottom:0em;
}
.geneSubfacet.highlight{
    font-weight:600;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#geneFacet,#mpFacet,#pipelineFacet{
    margin-bottom:1em;
}
.trHidden{
    display:none;
}
.node ul{
    list-style-type:disc;
    padding-left:1em;
}
.node li{
    padding:0.1em 0;
}
.block-system form,.section .inner{
    padding:2em;
    border:#ddd 1px solid;
}
.section.collapsed .inner{
    display:none;
}
.no-js .section.collapsed .inner{
    display:block;
}
.section.highlight{
    background:#eee;
}
.section .label{
    display:inline-block;
    width:10em;
}
.section.collapsed .title{
    cursor:pointer;
    padding-left:1em;
}
.section.collapsed .title:hover{
    color:#0978A1;
}
.section.collapsed .title:before{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    content:"\f0da";
    position:absolute;
    margin-left:-0.8em;
}
.section.collapsed.open .title:before{
    content:"\f0d7";
}
.section .floatright{
    padding-left:1.5em
}
.section.half{
    width:48%;
}
.section.half + .section.half{
    margin-left:4%;
}
.form-actions{
    margin-top:1em !important;
}
.form-submit{
    margin-right:1em;
}
.form-item{
    padding:0.5em 0;
    width:70%;
}
.form-item-mollom-captcha{
    width:auto;
    display:inline-block;
}
.login-forgot,.form-item-mollom-captcha,.form-wrapper{
    margin:0 0 2em 0;
}
.fieldset-description,.form-item label{
    font-weight:600;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.form-item label.option{
    font-weight:inherit;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.form-required{
    color:#ccc;
}
.form-item .description{
    display:none;
}
.mollom-captcha-content{
    display:block;
    line-height:0;
}
.mollom-switch-captcha{
    font-size:0.8em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#edit-mollom-captcha{
    width:auto;
}
.form-item-mollom-captcha .field-prefix{
    display:block;
    padding-bottom:0.5em;
}
.alert,.messages{
    padding:1em;
}
.messages{
    margin-bottom:1em;
}
.messages.status,.alert-info{
    background:#E6F2F6;
}
.messages.error{
    background:#fdf2e6;
}
.messages .placeholder{
    font-weight:600;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.messages ul{
    margin:0 !important;
}
#welcome{
    background: #fff;
    position: absolute;
    top:380px;
    left:10%;
  z-index: 9999;
    font-size: 30px;
    padding: 10px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-views-news-block a:HOVER{
    text-decoration:underline;
}
div#block-views-news-block .view-display-id-block:before{
    display:block;
    font-weight:bold;
    content:"Latest News:";
    float:left;
    padding-right:10px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#block-block-1,#block-views-phenotype-of-the-month-block-1{
    border:none;
}
div#block-block-1  .head,#block-views-phenotype-of-the-month-block-1 .head{
    color:#fff;
    background-color:#0978a1;
    font-size:1.4em;
    text-align:center;
    border-radius:4px 4px 0px 0px;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-1  .content,#block-views-phenotype-of-the-month-block-1 .content{
    color:#fff;
    background-color:#0978a1;
    font-size:0.9em;
    text-align:center;
    border-radius:0px 0px 4px 4px;
    font-weight:600;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-1  .content A,#block-views-phenotype-of-the-month-block-1 .content A{
    text-decoration:none;
    color:#fff;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-1  .content A:HOVER,#block-views-phenotype-of-the-month-block-1 .content A:HOVER{
    font-weight:bold;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-views-news-page-block{}div#block-views-news-page-block .content{
                                     border-top:1px #ddd solid;
                                 }
div#block-views-news-page-block div.views-row{
    border-bottom:1px dotted #5c5d5d;
}
div#block-views-news-page-block div.views-row-last{
    border-bottom:none;
}
div#block-views-news-page-block div.views-row div.node{
    padding-top:10px;
}
div#block-views-news-page-block ul.links{
    list-style-type:none;
    padding:0px;
}
div#block-views-news-page-block div.node-readmore{
    text-align:right;
}
div#block-views-news-page-block div.node-readmore A{
    text-decoration:none;
}
div#block-views-news-page-block div.node-readmore A:HOVER{
    color:#000;
}
div#block-block-2{
    border:none;
}
div#block-block-2 .content{
    background:none;
    text-align:center;
    min-width:300px !important;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-3{
  border:none;


}div#block-block-4{
     border:none;
 }
div#block-block-4  .head{
    color:#FFF;
    background-color:#FF8000;
    text-align:center;
    border-radius:8px 8px 0px 0px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-4  .content{
    color:#FFF;
    background-color:#FF8000;
    text-align:center;
    padding-bottom:30px;
    border-radius:0px 0px 8px 8px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-4  .content p{
    font-size:3.0em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-5{
    border:none;
}
div#block-block-5  .head{
    color:#FFF;
    background-color:#0978a1;
    text-align:center;
    border-radius:8px 8px 0px 0px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-5  .content{
    color:#FFF;
    background-color:#0978a1;
    text-align:center;
    padding-bottom:30px;
    border-radius:0px 0px 8px 8px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-5  .content p{
    font-size:3.0em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list{
    list-style-type:none;
    padding:0px;
    margin:0px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li{
    color:#0978a1;
    font-size:1.2em;
    margin-bottom:0.5em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b1:before{
    display:block;content:" ";
    width:16px;
    height:16px;
    background:#558ed5;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b2:before{
    display:block;content:" ";
    width:16px;
    height:16px;
    background:#234cc6;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b3:before{
    display:block;content:" ";
    width:16px;
    height:16px;
    background:#008000;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b4:before{
    display:block;content:" ";
    width:16px;
    height:16px;
    background:#ffff00;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b5:before{
    display:block;content:" ";
    width:16px;
    height:16px;
    background:#ccffcc;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b6:before{
    display:block;
    content:" ";
    width:16px;
    height:16px;
    background:#b3a2c7;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
ul#about-list li.b7:before{
    display:block;
    content:" ";
    width:16px;
    height:16px;
    background:#ff0000;
    border-radius:8px;
    float:left;
    margin:3px 5px 0px 20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div.pane-views-members-block{
    padding-top:2em;
}
div.view-members div.views-field-title{
    font-size:1.5em;
    font-weight:bold;
    color:#000;
    padding-bottom:5px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div.view-members div.views-row{
    border-bottom:1px #ddd solid;
    padding-bottom:1em;
    padding-top:1em;
    min-height:100px;
}
div.view-members div.views-row-last{
    border-bottom:none;
}
div.view-members div.views-field-field-member-body{
    width:650px;
}
div.view-members div.views-field-field-member-body h1{
    font-size:1.2em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div.view-members div.views-field-field-member-body A{
    text-decoration:none;
}
div.view-members div.views-field-field-member-body A:HOVER{
    text-decoration:underline;
}
div.view-members div.views-field-field-member-logo{
    width:400px;
    right:0px;
    margin-left:auto;
}
div.view-members div.views-field-field-member-logo img{
    height:auto;
    float:right;
    margin-top:-30px;
}
#contact-panel{
    width:100%;
}
.webform-client-form{
    padding:2em;
    border:#ddd 1px solid;
    border-radius:4px;
}
.view-id-members .views-row{
    padding-bottom:3em;
}
.view-id-news_page .views-row{
    padding-bottom:1em;
}
.region-usernavi #block-block-3{
    margin-top:60px;
    margin-bottom:-30px;
}
#home-search-submit{
    font-size:1.15em;
    text-transform:uppercase;
    margin-left:-12px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#home-search-box{
    padding:8px 7px 7px 7px;
    -webkit-box-shadow:inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow:inset 2px 2px 2px 0px #dddddd;
    box-shadow:inset 2px 2px 2px 0px #dddddd;
    border:#777 1px solid;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -o-border-radius:8px;
    -ms-border-radius:8px;
    border-radius:8px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.front div.content > h1,h2.has-img{
    position:absolute;
    z-index:11;
    background:#fff;
    padding:2px 8px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.front div.content > h1{
    margin-top:-100px;
}
h2.has-img{
    margin-top:15%;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div.node > img{
    width:auto;
    height:auto;
    border-image:none;
    border:1px solid #eee;
    border-style:solid;
    border-width:1px;
    color:#ccc;

}
.ui-widget-overlay{
    z-index:12;
}
.ui-dialog{
    z-index:13;
}
.ui-button-icon-only .ui-icon{
    left:0;top:0;
}
#block-block-2 img{
    -webkit-filter:grayscale(1);
    -webkit-filter:grayscale(100%);
    -moz-filter:grayscale(100%);
    filter:gray(0);
    filter:grayscale(100%);
}

/* .intro{
    padding-bottom:50px;
    background:url(/static/images/curve-840.png) bottom center no-repeat;
} */

#block-views-news-page-block{
    background-color:#eeeeee;
}
.view-news-page .date-display-single{

    font-size:0.8em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#block-views-news-page-block .head{
    font-size:1.5em;
    text-transform:uppercase;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#block-block-8{
    border:none;
}
#block-block-8 .content{
    padding:0;
    background:#fff;
}
.title-blue{
    color:#0978a1;
}
.map-table{
    font-size:0.7em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.map-table tr{

}
.map-table td{
    padding:0;
    padding-right:10px;
    border-bottom:none;
}
#node-5 h3{
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    line-height:1.1em;
    font-size:1.5em;
    margin-bottom:0;
    color:#0978a1;
    font-weight:400;
    cursor:pointer;
    border:1px solid #eee;
    padding:0.3em;
    border-radius:4px;
    margin-top:1em;
    /* background:url(/static/images/impc.png) left center no-repeat; */
    padding:0.3em 0.3em 0.3em 0.5em;
}
#node-5 h3.acc-open{
    border-bottom:0;
    border-radius:4px 4px 0 0;
    /* background:url(/static/images/impc.png) left center no-repeat; */
}
#node-5>div{
    border-right:1px solid #eee;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee;
    padding:0.3em;
    border-radius:0 0 4px 4px;
}
#node-5 h2{
    margin-top:0.5em;
}
#node-5 h4{
    margin-top:0.5em;
}
#node-5 img{

}
#node-5 h2.has-img{
    margin-top:15%;
}
#block-views-faqs-block .view-faqs,#block-views-glossary-view-block .view-glossary-view,#block-views-publications-block .view-publications{
    border:1px solid #eee;
    border-radius:4px;
}
#block-views-faqs-block .view-faqs .view-header,#block-views-glossary-view-block .view-glossary-view .view-header,#block-views-publications-block .view-publications .view-header{
    padding:0.5em;
    margin:0;
    background:#777;
    color:#fff;
}
#block-views-faqs-block .view-faqs .view-content,#block-views-glossary-view-block .view-glossary-view .view-content,#block-views-publications-block .view-publications .view-content{
    padding:1em;
}
#block-views-faqs-block .view-faqs .views-row,#block-views-glossary-view-block .view-glossary-view .views-row,#block-views-publications-block .view-publications .views-row{
    margin-bottom:1em;
}
#block-block-8 img{
    max-width:inherit;
}
#simple-dialog-container{
    font-size:smaller;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#simple-dialog-container li{
    list-style-type:disc;
    list-style-position:inside;
}
#simple-dialog-container strong{
    font-size:larger;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

ul.ul-pdf{
    list-style-type:none;
}
.vertical_row_header{
    transform-origin:left top 0;
    -webkit-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
}

td.rotated_cell{
    height:280px;
    white-space:nowrap;
    vertical-align:bottom;
    font-size:1em;
    padding:6px;
    overflow:hidden;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
td.rotated_cell > div{
    display:inline-block;
    white-space:nowrap;
    -webkit-transform:translate(0,15px) rotate(270deg);
    -moz-transform:translate(0,15px) rotate(270deg);
    -o-transform:translate(0,15px) rotate(270deg);
    transform:translate(0,15px) rotate(270deg);
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
    -ms-transform:none;

    -ms-writing-mode:tb-rl;
    *writing-mode:tb-rl;
    width:20px;
}
td.rotated_cell > div:before{
    content:"";
    float:left;
    margin-top:100%;
}
.views-exposed-form .views-exposed-widgets > div{
    float:left;
}
.views-exposed-form .views-exposed-widgets > div > input{
    margin-top:26px;
    margin-right:20px;
}
.views-exposed-form .views-submit-button{
    margin-left:8px;
    margin-right:-14px;
}
#views-exposed-form-heatmap-block-1{
    border:1px solid #ddd;
    border-radius:4px;
    padding:2em;
}
#block-views-heatmap-block-1{
    margin-top:10px;
}
.view-id-heatmap .ajax-progress {
    position: relative;
    left: -24px;
    top: -20px;
}

.ajax-progress  {
    background: transparent  no-repeat 0px -18px;
    float: left;
    height: 15px;
    margin: 2px;
    width: 15px;
}

#heatmap td>a {
    text-decoration: none;
    color: #aaa;
    font-size: 0.9em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

#heatmap td>a:HOVER {
    color: #0978a1;
    text-decoration: underline;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#block-block-23 {border: none;}

div#block-block-23 .content {
    background: none;
    padding: 0px;
}

div#block-heatmap-stats {text-align: center;}

div#block-heatmap-stats-KO {
    width: 49%;
    background-color: orange;
    border-radius: 5px;
    color: white;
    float: left;
}

div#block-heatmap-stats-KO .head {color: white;}

div#block-heatmap-stats-KO .content {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#block-heatmap-stats-phenotypes {
    width: 48%;
    background-color: orange;
    border-radius: 4px;
    color: white;
    float: right;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#block-heatmap-stats-phenotypes .head {color: white;}

div#block-heatmap-stats-phenotypes .content {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

.heatmap_pager {padding-top: 10px;}

.heatmap_pager a {
    text-decoration: none;
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    text-align: center;
    color: #888;
    background-color: #eee;
    line-height: 35px;
    font-size: 1.3em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

.heatmap_pager a.prev {border-radius: 10px 0px 0px 10px;}

.heatmap_pager a.next {border-radius: 0px 10px 10px 0px;}

.heatmap_pager a.current {
    font-weight: bold;
    color: #88f !important;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

.heatmap_pager a:HOVER {
    background-color: #ccc;
    cursor: pointer;
}

.heatmap_pager a.disabled {
    color: #aaa;
    background-color: #fff;
}

.heatmap_pager a.disabled:HOVER {
    background-color: #fff;
    cursor: default;
}

div#block-block-22 .head {background-color: #eee;}

table#heatmap-table {
    background-color: #fff;
    width: 816px;
}

thead#heatmap-table-header {
    background: #fff;
    width: 816px;
}

thead#heatmap-table-header  td.gene {
    width: 158px;
    padding: 0px;
    vertical-align: bottom;
}

thead#heatmap-table-header  td.construct {
    width: 80px;
    vertical-align: bottom;
}

thead#heatmap-table-header  td.rotated-cell {
    width: 32px;
    padding: 0px;
}

table#heatmap-table  td.gene-row {
    width: 150px;
    padding: 0px;
}

table#heatmap-table  td.construct-row {width: 75px;}

div#heatmap-filters {
    border: 1px solid #ccc;
    padding: 10px;
    height: 75px;
    border-radius: 4px;
    width: 712px;
}

div#heatmap-filters  > div.filter-gene {
    float: left;
    width: 250px;
}

div#heatmap-filters  input#heatmap_filter_gene {width: 200px;}

div#heatmap-filters  > div.filter-construct {
    float: left;
    width: 150px;
}

div#heatmap-filters select#heatmap_filter_construct {
    width: 100px;
    height: 30px;
}

div#heatmap-filters  > div.filter-buttons {
    float: left;
    width: 200px;
}

div#heatmap-filters button {
    width: 80px;
    height: 30px;
    border: none;
    background: #777;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#heatmap-filters button:HOVER {background-color: rgb(27,120,154);}

div#heatmap-header {
    width: 712px;
    height: 210px;
    text-align: left;
    background: #fff;
    border-bottom: 1px solid #ccc;
    top:0px;
    position:-webkit-sticky;
    position:sticky;

}

div#heatmap-header > div.gene {
    vertical-align: bottom;
    width: 125px;
}

div#heatmap-header > div.cons {
    vertical-align: bottom;
    width: 75px;
}

div#heatmap A {
    text-decoration: none;
    color: #aaa;
    font-size: 0.9em;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

div#heatmap A:HOVER {
    color: #0978a1;
    text-decoration: underline;
}

div#heatmap-header > div {
	display: inline-block;
}

div.rotate {
    height: 200px;
    white-space: nowrap;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

div.rotate > div {
    transform: translate(0px,175px) rotate(270deg);
    width: 30px;
}

div.rotate > div > span {
    text-decoration: none;
}

div#heatmap-data {width: 712px;}

div#heatmap-data  div.heatmap-row {
    height: 32px;
    vertical-align: middle;
}

div#heatmap-data  div.gene {
    width: 125px;
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

div#heatmap-data  div.cons {
    width: 75px;
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

div#heatmap-data  div.cell {
    height: 30px;
    width: 30px;
    float: left;
}

h2 {
    font-size: 1em;
    letter-spacing: -1px;
    margin-top: 20px;
}
div.heatmap-row {
    height: 30px;
    line-height: 27.5px;
}

div.cell {
    border: 1px solid #ccc;
    text-align: center;
}

div.cell-Blue {
    border: 1px solid #ccc;
    text-align: center;
    background-color: blue;
    width: 32px;
    height: 32px;
    float: left;
}

td.not_significant {
    border: 1px solid #ccc;
    text-align: center;
    background-color: blue;
    /* width: 32px;
    height: 32px;
    float: left; */
}

div.cell-Green {
    border: 1px solid #ccc;
    text-align: center;
    background-color: green;
    width: 32px;
    height: 32px;
    float: left;
}

div.cell-Grey {
    border: 1px solid #ccc;
    text-align: center;
    background-color: grey;
    width: 32px;
    height: 32px;
    float: left;
}

td.not_enough_data {
    border: 1px solid #ccc;
    text-align: center;
    background-color: grey;
   /*  width: 32px;
    height: 32px;
    float: left; */
}

div.cell-Red {
    border: 1px solid #ccc;
    text-align: center;
    background-color: red;
    width: 32px;
    height: 32px;
    float: left;
}

td.significant {
    border: 1px solid #ccc;
    text-align: center;
    background-color: red;
}
div.cell-White {
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
    width: 32px;
    height: 32px;
    float: left;
    pointer-events: none;
}

td.no_data {
    border: 1px solid #ccc;
    text-align: center;
    background-color: white;
}
div#heatmap-footer {width: 650px;}

div#block-block-22 {width: 302px;}

div#block-block-17 {width: 302px;}

div#block-block-25 .content {
    text-align: center;
    border: none;
    background-color: #0978a1;
    font-size: 1.4em;
    text-align: center;
    border-radius: 4px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
div#block-block-25 A {
    color: #fff;
    text-decoration: none;
}
div#block-views-news-page-block {
    margin-top: 175px;
}
.fa-caret-right:before {
    content: "\f0da";
}

.one-sidebar .region-content {
    width: 60%;
    float: left;
}
.sidebar-second .region-content {
    margin-right: 4%;
}
#block-views-content-slider-block-1{
    margin-top:0;
    padding-bottom:4%;
}
.views_slideshow_cycle_main{
    width:100%;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame{
    width:100% !important;
    height:auto;
}
.views_slideshow_cycle_main .views-slideshow-cycle-main-frame-row{
    width:100% !important;
    height:auto;
}
.views_slideshow_cycle_main .field-content{
    max-width:100%;
    width:100%;
}
.views_slideshow_cycle_main .field-content img{
    max-width:100%;
    width:100%;
    height:auto;
    margin:0;
    padding:0;
}
div.breadcrumb{
    visibility:hidden;display:none;
}
div#node-4 form{
    padding:0px;border:none;
}
div#block-views-news-block .content{

    border:none;
    line-height:30px;
    height:30px;
    overflow:hidden;
}
div#block-views-news-block a{
    text-decoration:none;
}
div#block-views-news-block a:HOVER{
    text-decoration:underline;
}
div#block-views-news-block .view-display-id-block:before{
    display:block;
    font-weight:bold;
    content:"Latest News:";
    float:left;
    padding-right:10px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";

}
div.views-slideshow-controls-bottom{
    visibility:hidden;
    display:none;
}

/*footer.footerToBottom {
    position: absolute;
    width:100%;
    bottom:0px;
}
*/

foot_content{

    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
#foot_list{
    position: absolute;
    left:445px;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.intro {
    padding-bottom: 50px;
    /* background: url(../images/curve-840.png) bottom center no-repeat; */
    background-color: transparent;
    /* background-image: url(../images/curve-840.png); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: center;
    background-position-y: bottom;
    background-size: auto auto;
    line-height: 1.1em;
    font-size: 1.3em;
    margin-bottom: 1em;
    color: #0978a1;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.intro1 {
    padding-bottom: 10px;
    line-height: 1.1em;
    font-size: 1em;
    margin-top: 2px;
    margin-bottom: 1em;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";

}
#accordian1_main{
    width:70%;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    border:1px;
    border-radius: 4px 4px 0 0;
    border-style: solid;
    border-color: #eee;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";


}
span{

    font-weight:bold;
    font-size: 110%;
    vertical-align: baseline;
    text-decoration: none;
    color: #0978a1; text-decoration-style: solid; cursor: pointer;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}


.span1{

    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color:#0978a1;
    text-decoration-style: solid; cursor: pointer;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
article span a:visited {
    color: #0978a1;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";

}
.ul-pdf li span a:visited {
    color: #0978a1;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

.ul-pdf li span a {
    color: #0978a1;
    padding-bottom: 5px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
a, a:hover, a:visited{
    color: #0978a1;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
footer {

    position: absolute;
    width: 100%;
    height: 150px;
    color: white;
    background-color: #666;
    clear: left;
    padding:50px;
    word-spacing:20px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";

}

.panel_glossary {
    padding: 0.5em;
    background-color: #666;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #eee;
    position: absolute;

    height: 50px;
    color: white;
    font-size: 25px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}
.fa {
    display: inline-block;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


div#block-block-contact {
    color:darkgrey;
    background-color: grey;
    font-size: 1em;
    text-align:left;
    border-radius: 4px 4px 0px 0px;
    font-family: "source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}




spandata{

    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color:black;
    text-decoration-style: solid;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}



.push{
    height:150px;
}
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}
#clear{
    clear: both;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
}

.footernew {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

hr{
    color: #ddd;
    border-bottom: 1px;
    border-bottom-color:lightgrey;

}


.active {
    background-color:orange;
    padding:0.2em;
}
