<h1>Flow Files</h1>
            

                    We phenotyped the blood of over 12,700 mice, and spleen mesenteric lymph nodes and bone marrow of over 3400 mice. Using one panel for bone marrow, two panels for blood, three panels for mesenteric lymph nodes and three to four panels for spleen, we generated over 50,000 FCS files.

                    We are in the process of making all FCS files available on FlowRepository <a href="https://flowrepository.org">https://flowrepository.org</a>. See links below for managable data files for download.
                    
                    <ul>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXF">Myeloid cell panel spleen</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXB">T cell panel mesenteric lymph node</a> </li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYX9">T cell panel spleen IMPC</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXG">Myeloid cell panel mesenteric lymph node</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXN">IMPC P2 panel spleen</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXQ">Bone marrow panel</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYXE">B cell panel mesenteric lymph node</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYPJ">PBMC panel1</a></li>
                            <li><a href="https://flowrepository.org/id/FR-FCM-ZYPK">PBMC panel2</a></li>

                    </ul>
                    
                    Please contact project manager Lucie Abeler-Dörner if you any questions about the data <a href="mailto:lucie.abeler-dorner@bdi.ox.ac.uk" style="text-decoration: none">Send email</a>.
                    
                    To learn more about panels, antibodies and protocols, please have a look at the Methods section on this webpage.
                    
                    If you are interested in fancy flow analysis, also have a look at our semi-supervised analysis project under “New cell types”.
            