<h1>Flow Files</h1>
            <p>

                    We phenotyped the blood of over 12,700 mice, and spleen mesenteric lymph nodes and bone marrow of over 3400 mice. Using one panel for bone marrow, two panels for blood, three panels for mesenteric lymph nodes and three to four panels for spleen, we generated over 50,000 FCS files.

                    We are in the process of making all FCS files available on FlowRepository https://flowrepository.org. Please contact project manager Lucie Abeler-Dörner if you would like to access any of the files in the meantime (send email) [lucie.abeler-dorner@bdi.ox.ac.uk].
                    
                    To learn more about panels, antibodies and protocols, please have a look at the Methods section on this webpage.
                    
                    If you are interested in fancy flow analysis, also have a look at our semi-supervised analysis project under “New cell types”.
            </p>