<h1>Map of the Immune System</h1>
            <p>
                This map of the mouse immune system was built using data from over 400 C57BL/6N wild type mice. Each rectangle represents an immune cell subset. The numbers are percentages of CD45+ cells. T cell subsets are blue, B cells orange, Myeloid cells green, NK cells red and NKT cells purple. Use the interactive legend on the top right to switch between organs and cell subsets.
            </p>
            <p>Please not that the map below may not dispay if using the firefox browser - please click this : <a href="https://www.mousephenotype.org/data/threeIAnalysis" target="_blank">link</a></p>
              <!-- X-Frame-Options: DENY  where did this come from?? on our dev site this is now the option set for https://dev.mousephenotype.org/data/threeIAnalysis-->
              <iframe width="420" height="345" [src]="video | safe" style='width: 850px; height: 700px;'></iframe>
          