<mat-sidenav-content id="page-content"  fxFlex="100%">
<!--  <mat-card fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-around center" >-->
<!--    <button mat-raised-button coor="primary" (click)="openDialog()" fxFlex="45%">-->
<!--      Click to see project overview-->
<!--      <img src="assets/images/small_overview.jpg" width="250">-->
<!--    </button>-->
<!--    <div fxFlex="45%"><h2>Human Coronovirus Immunological Phenotypes</h2><h2>Data Updated Daily</h2></div>-->

<!--  </mat-card>-->
  <mat-card>
    <h1>COVID-IP</h1>
    <ul>
      <li>
        The goal of Covid-IP project is to better understand the ‘immunophenotype”, i.e. the status of the immune system, in persons who are or who have been infected with SARS-CoV-2, the coronavirus responsible for Covid-19 disease.
      </li>
      <li>
        Immunophenotypes vary greatly across different individuals, giving strong clues as to what our immune systems need to do to protect us from Covid-19, and indicating ways in which it can go wrong, worsening rather than improving the patient’s condition.
      </li>
      <li>
        Covid-IP seeks to understand what’s going on in the immune system in those infected with SARS-CoV-2, and how those events may relate to the type of symptoms a person experiences.  Which immune cells and molecules seem to correlate with protection and health, and which seem to correlate with pathology and disease?
      </li>
      <li>
        Covid-IP builds on the Infectious Diseases Biobank at King’s College London, that collects samples from those infected with viruses, bacteria or other pathogens at St. Thomas’ Hospital. The website and associated informatics is a joint collaboration between King’s College London, The Francis Crick Institute and EMBL-EBI that leverages personnel and experience from the 3i project.
      </li>
      <li>
        We encourage you to join the Covid-IP project by sharing our methods, reviewing our findings as they come in, and by using this site as a base for reading further around the subject. We hope that by working together, we can improve our understanding of Covid-19, and can be better prepared for future infectious pathogens.
      </li>
    </ul>
  </mat-card>
  <mat-card>
<!--    <mat-tab-group mat-stretch-tabs   (selectedTabChange)="tabChanged($event)" [dynamicHeight]="true">-->
<!--      <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--          <h1 >Human Cell View Heatmap</h1>-->
<!--        </ng-template>-->
<!--        <threei-human-cell-heatmap></threei-human-cell-heatmap>-->
        <!-- <threei-procedure-heatmap></threei-procedure-heatmap> -->
<!--      </mat-tab>-->
<!--      <mat-tab>-->
<!--        <ng-template mat-tab-label>-->
<!--          <h1>Procedure View Heatmap</h1>-->
<!--        </ng-template>-->
<!--        <ng-template matTabContent>-->
<!--          <threei-procedure-heatmap></threei-procedure-heatmap>-->
<!--        </ng-template>-->
<!--      </mat-tab>-->
<!--    </mat-tab-group>-->
  </mat-card>



</mat-sidenav-content>
