



  <mat-sidenav-content id="page-content"  fxFlex="100%">
      <mat-card fxLayout="row" fxLayout.xs="row" fxLayoutAlign="space-around center" >
          <button mat-raised-button coor="accent" (click)="openDialog()" fxFlex="45%">
              Click here to see project overview
           <img src="assets/images/small_overview.jpg" width="300">
          </button>
          <div fxFlex="45%"><h2>Over 300 Immunological Phenotypes</h2><h2>Over 500 Mouse KO Lines</h2></div>
          
      </mat-card>
                <mat-card>
                    <mat-tab-group mat-stretch-tabs   (selectedTabChange)="tabChanged($event)" [dynamicHeight]="true">
                      <mat-tab> 
                          <ng-template mat-tab-label>
                              <h1 >Cell View Heatmap</h1>
                            </ng-template>                 
                          <threei-cell-heatmap></threei-cell-heatmap>
                          <!-- <threei-procedure-heatmap></threei-procedure-heatmap> -->
                      </mat-tab>   
                      <mat-tab>         
                      <ng-template mat-tab-label>
                          <h1>Procedure View Heatmap</h1>
                        </ng-template>  
                        <ng-template matTabContent> 
                                <threei-procedure-heatmap></threei-procedure-heatmap>
                         </ng-template> 
                      </mat-tab> 
                    </mat-tab-group>
                  </mat-card>    


              
  </mat-sidenav-content>

  
    <!-- <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
      <h1>Data Search</h1>
      <mat-card>
        <mat-tab-group   (selectedTabChange)="tabChanged($event)">
          <mat-tab color="primary" label="Cell View">                   
              <threei-cell-heatmap></threei-cell-heatmap>
              
          </mat-tab>            
          <mat-tab label="Procedure View">
            <ng-template matTabContent>
                    <threei-procedure-heatmap></threei-procedure-heatmap>
           </ng-template>
      </mat-tab> 
        </mat-tab-group>
      </mat-card>    
    </div> -->
  

  <!-- <mat-sidenav  mode="side" opened fxFlex="28%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="10px" >
              
                <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
                      <threei-stats-blocks></threei-stats-blocks>

                    
                    
                
                <div class="news-block">
                  
                  <div class="head">News &amp; Events</div>
                    <div class="content">
                      
                      <a  href="http://flowrepository.org/"  >Flow Cytometry Data Available</a>
                      
                            
                        <div class="views-field views-field-body">
                          <div class="field-content">
                              <p>Raw flow cytometry data from the observational screens are available from the  <a href="http://flowrepository.org/">Flow repository</a>. For details about panels see <a href="methods">Methods</a></p>
                          </div>
                              
                      

                        </div>

                    </div>
                </div>
                
                  <div class="news-block">
                    <h4>Learn more about the images in the slideshow</h4>
                    <br/>
                    <p><a href="/image-acknowledgements" class="btn" style="color:white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;color:white;" >&#xf04b;</i>Image acknowledgements</a></p>
                  </div>
                
                  
                  <threei-logos></threei-logos>
                
              
              
  </mat-sidenav> -->






