.news-block{
    background-color: #eee;
    margin-top: 5%;
    text-align: center;
}

.news-block .head{
    font-size:1.5em;
    text-transform:uppercase;
    border-bottom: 0.5px solid #666;
    padding: 5%;
    
    
}
.content{
    text-align: left;
}

.btn:hover{
    text-decoration:none;
    color:#fff;
    background-color:#0978a1;
}
.btn{
    background-color: #666;
    padding: .3em .6em;
}

.mat-tab-label-content{
    color:red !important;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: red;
    font-weight: 700;
}

/* Styles for the ink bar */
.mat-ink-bar {
    background-color: green;
}