

<div id="welcome">
  <h1>Image acknowledgements </h1>
</div>

<div id="main" class="content">
  <p></p>
  <div id="region region-content">
  <div class="intro"><h2 >Dig deeper into the data by looking at it from different angles. </h2> </div>
    <table width="500px" height="100%" border="1">
    <tr>
      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Macrophageinfected1639E47-ack.jpg" href="../assets/images/Image-acknowledgements-imagess/Macrophageinfected1639E47-ack.jpg"  alt=" This is the first image" width="200" height="200" /><br/>
        False-coloured transmission electron micrograph of a macrophage<br/> infected with Salmonella typhimurium (purple)<br/>
        Credit: David Goulding, Wellcome Trust Sanger Institute
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Salmonella-ack.jpg" href="../assets/images/Image-acknowledgements-images/Salmonella-ack.jpg"  width="200" height="200" /><br/>
        False-coloured transmission electron micrograph <br/>of Salmonella typhimurium<br/>
        Credit: David Goulding, Wellcome Trust Sanger Institute,<br/> Wellcome images
      </td>

    </tr>

    <tr>
      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/CD8cellattackingatumourcell-ack.jpg" href="..static/images/Image-acknowledgements-imagess/CD8cellattackingatumourcell-ack.jpg"   width="200" height="200" /><br/>
        Confocal micrograph of a killer T-cellattacking a tumour cell.<br/>
        Credit: Alex Ritter, University of Cambridge,Wellcome Images
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Diffcount5-ack.jpg" href="../assets/images/Image-acknowledgements-images/Diffcount5-ack.jpg"  width="200" height="200" /><br/>
        Micrograph of cells recovered from the lung of influenza-infected mice.<br/>
        Credit: Jua Iwasaki, Imperial College London
      </td>
    </tr>

    <tr>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/GutL3_lowvac_0040small-ack.jpg" href="..static/images/Image-acknowledgements-imagess/Gut+L3_lowvac_0040small-ack.jpg"   width="200" height="200" /><br/>
        Scanning electron micrograph of larval Trichuris muris nematodes invading intestinal epithelium.<br/>
        Credit: Richard Grencis, Manchester University
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/DendriticepidermalTcells-ack.jpg" href="../assets/images/Image-acknowledgements-images/DendriticepidermalTcells-ack.jpg"  width="200" height="200" /><br/>
        Dendritic epidermal T cells (purple) and Langerhans cells (blue) in ear skin.<br/>
        Credit: Dmitry Ushakov, King’s College London
      </td>
    </tr>

    <tr>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/goodgutsmall-ack.jpg" href="../assets/images/Image-acknowledgements-imagess/goodgutsmall-ack.jpg"   width="200" height="200" /><br/>
        Cross-section of adult Trichuris muris nematodes in the epithelium of the large intestine.<br/>
        Credit: Richard Grencis, Manchester University
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/HeLacellsstainedwithserum-ack.jpg" href="../assets/images/Image-acknowledgements-images/HeLacellsstainedwithserum-ack.jpg"  width="200" height="200" /><br/>
        HEp-2 cells stained with serum from Cxcr2 ko mice containing antinuclear antibodies. <br/>
        Credit: Matthew Edmans, Oxford University
      </td>
    </tr>

    <tr>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Lymphocyteanderythrocytes2-ack.jpg" href="../assets/images/Lymphocyteanderythrocytes2-ack.jpg"   width="200" height="200" /><br/>
        Colour-enhanced transmission electron micrograph of a lymphocyte surrounded by red blood cells.<br/>
        Credit: University of Edinburgh, Wellcome Images
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Neutrophil-ack.jpg" href="../assets/images/Image-acknowledgements-images/Neutrophil-ack.jpg"  width="200" height="200" /><br/>
        Colour-enhanced transmission electron micrograph of a neutrophil.<br/>
        Credit: University of Edinburgh, Wellcome Images
      </td>
    </tr>


    <tr>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/Influenzainrespiratorytract-ack.jpg" href="../assets/images/Influenzainrespiratorytract-ack.jpg"   width="200" height="200" /><br/>
        Transmission electron micrograph of influenza viruses (blue) attaching to  cells of the upper respiratory tract. <br/>
        Credit: R. Dourmashkin, Wellcome Images
      </td>

      <td align="center" valign="center" style="font-size: small">
        <img src="assets/images/Image-acknowledgements-images/FACSPlot-ack.jpg" href="../assets/images/Image-acknowledgements-images/FACSPlot-ack.jpg"  width="200" height="100" /><br/><br/><br/><br/><br/><br/>
        Flow-cytometry dot plot depicting the separation of eosinophils (blue) and neutrophils (orange). <br/>
        Credit: Adam Laing, King’s College London
      </td>
    </tr>
    <br/>
    <br/><br/>

  </table>
</div>
</div>

