<div id="block-views-phenotype-of-the-month-block-1" class="block block-views">
  <div class="head"> Phenotype of  the  Month</div>
  <div class="content">
    <div class="view view-phenotype-of-the-month view-id-phenotype_of_the_month view-display-id-block_1 view-dom-id-aea57fa4b3e8167014066f06dcf76299">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-php">
            <span class="field-content">
            <p>
              <a name="phenotype-of-the-month-view" class="simple-dialog simpleDialogProcessed"
                  style="font-size: 1.5em;" rel="width:680;position:[center,160];" data-hasqtip="68"
                  oldtitle="Phenotype of the Month" title="" (click)="phenMonthClick()">{{getPhenotype()}}</a>
            </p></span>
          </div>
        </div>
      </div>
    </div>
            </div>
</div>
