



<!-- <div id="wholepage-container" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="background-color:purple"> -->
<div class="mat-app-background basic-container" fxLayout="column">
             
  <threei-consent></threei-consent>
            <!-- <form id="home-search-form" action="/data" method="get">
              <input id="home-search-box" name="gene" style="width: 300px;" type="text" placeholder="Search by gene or phenotype..."/>
              <input id="home-search-submit" class="btn" style="width: 200px;" type="submit" value="Advanced Search"/>
            </form> -->
            <threei-menu fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center" style="min-height: 100px !important; min-height: 100px !important;" [topMenu]="true"></threei-menu>
  <mat-sidenav-container id="middle-of-verticle" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutAlign="center" style="background-color:white" fxLayoutGap="100px">
    
      <!-- <mat-sidenav mode="side" opened color="primary">Sidenav left</mat-sidenav> -->
      <!-- <div id="dummyPaddingLeft" fxFlex="10%" color="secondary" ></div> -->

        <!-- router now contains center and side right content -->
        <mat-sidenav-content id="page-content"  fxFlex="80%">
            
            <!-- <div class="current-page-container" fxLayout="row" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center" style="background-color:white"> -->

              <router-outlet></router-outlet>

            <!-- </div> -->
        </mat-sidenav-content>

        <!-- <div id="dummyPaddingRight" fxFlex="10%" style="background-color:red" ></div> -->
        <!-- <mat-sidenav mode="side" opened color="primary">Sidenav right</mat-sidenav> -->
        </mat-sidenav-container>
  <!-- end of left-main -->
 



  

</div>

<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun">
    <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
    <mat-sidenav-content>Main content</mat-sidenav-content>
  </mat-sidenav-container> -->


  <threei-menu></threei-menu>
















