<h1>Strengths and Limitations</h1>
<p>
  The strengths of the 3i project are the broadness and depth of its phenotyping, and the availability of data for download. The limitations of the project are the number of genes (530 out of 18,000) and the low number of animals phenotyped per strain (4-8, depending on the assay). A well-designed statistical pipeline mitigates the effect of the low numbers and allows us to still identify phenotypes with confidence (see below).
</p>
<h1>Strengths</h1>
<ul>
  <li>
    A comprehensive immunological phenotyping of wild type mice
  </li>
  <li>
    A comprehensive immunological phenotyping of healthy KO mice
  </li>
  <li>
    Outcome measures for four challenges (Salmonella, Trichuris, influenza and DSS-induced colitis) in wild type and KO mice
  </li>
  <li>
    Extensive non-immune phenotyping data for all non-challenge mice
  </li>
  <li>
    Most raw data available for download
  </li>
  <li>
    A well-designed statistical evaluation to mitigate he effect of low n.
  </li>
</ul>

<h1>Limitations</h1>
<ul>
  <li>
    Only 530 out of 18,000 phenotyped
  </li>
  <li>
    Only 4-8 mice per strain phenotyped
  </li>
</ul>

<p>
    The low number of animals per strain means that our power is only sufficient to detect large phenotypic changes. All red cells on the heat map are the result of a stringent statistical analysis combined with expert knowledge to weed out phenotypes that might have arisen due to technical variations. Because we have erred on the side of caution when calling a phenotype, there are probably many blue cells that would turn red had we had more mice. We invite you to look at positive and negative phenotype data and use your own expertise and judgement to identify interesting biological findings that have not quite made our stringency cut-off but might still contain useful hints for your own investigations.
</p>