<mat-sidenav-content id="page-content"  fxFlex="100%">
  <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
    <h1>Data Search</h1>
    <mat-card>
      <mat-tab-group   (selectedTabChange)="tabChanged($event)">
        <mat-tab color="primary" label="Cell View">                   
            <threei-cell-heatmap></threei-cell-heatmap>
            <!-- <threei-procedure-heatmap></threei-procedure-heatmap> -->
        </mat-tab>            
        <mat-tab label="Procedure View">
          <ng-template matTabContent>
                  <threei-procedure-heatmap></threei-procedure-heatmap>
         </ng-template>
    </mat-tab> 
      </mat-tab-group>
    </mat-card>    
  </div>
  </mat-sidenav-content>


