<div id="welcome" >
        <h1>FAQ</h1>
</div>

<div id="main-center" fxFlex="60%">
        <div id="slider-and-main" fxLayout="column " fxLayout.xs="row" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
            <threei-slideshow></threei-slideshow>
    
      <div id="region region-content">
        <div class="intro"><h2 >Dig deeper into the data by looking at it from different angles. </h2> </div>
        <p></p>
        <p></p>



    <div class="panel_glossary" >
        <i class="fa fa-list-alt"></i>
        Frequently Asked Questions
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    


    <div id="accordian1_main" style=" border: 1px solid #eee; width: 100%;">
        <p></p>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                                There's no such thing as a free lunch, so where's the catch?
                    </mat-panel-title>

                </mat-expansion-panel-header>

                There is no catch. The Wellcome Trust has invested this money to create a resource for the scientific community. In fact, we are not only paid to conduct the phenotyping but also to promote the uptake of mouse lines and the use of the phenotyping data we generate so please use this resource and let us know if you have any questions. Of course the data is freely available, so your competitor will be able to look it it as well. We still think you get a really good deal by combining our data with your expert knowledge to create new hypotheses and by taking on gold-standard knockout mouse lines which have undergone stringent quality control from ES cells to final genotyping.

            </mat-expansion-panel>
            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                                How can I order mice or ES cells
                        </mat-panel-title>

                    </mat-expansion-panel-header>



            <p>The 3i consortium does not distribute any material itself, but mice and ES cells can be obtained from the International Mouse Phenotyping Consortium (IMPC). Type your gene of interest into the search box on
                <span> <a href="www.mousephenotype.org" target="_blank">www.mousephenotype.org and follow the link to ES cells or mice.</a></span> </p>

        </mat-expansion-panel>
        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                            How can I leave a comment?
                    </mat-panel-title>

                </mat-expansion-panel-header>

            Please chose the "Leave a comment" form on the contact page.
        </mat-expansion-panel>

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                            How can I access the raw data?
                    </mat-panel-title>

                </mat-expansion-panel-header>

            We are in the process of sending all our data to the IMPC where it will be hosted and displayed. This is a fairly complicated process and will likely take at least until the end of the year. If you cannot find any data that you are looking for, please contact us via the form on the contact page and we will do our best to send the data to you directly.
        </mat-expansion-panel>

        <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                            Can I use 3i protocols for my own research?
                    </mat-panel-title>


            </mat-expansion-panel-header>
            Yes, the project is entirely open-source and we are aiming to provide access to all our protocols shortly.
        </mat-expansion-panel>

            <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                                Can I send you my mice for phenotyping?
                        </mat-panel-title>

            </mat-expansion-panel-header>
            Unfortunately we cannot phenotype external mice in the Sanger pipeline. However, we are aiming to provide all our protocols online to enable you to run a 3i-like phenotyping yourself. If you have any questions or would like to collaborate with any of the partners, please contact the members of the consortium directly or send us an email via the links on the contact page.
            </mat-expansion-panel>

        </mat-accordion>
        </div>
        </div>

        </div>
        </div>
        
        <aside id="right-sidebar" fxFlex="20%"  >
                <div class="region region-sidebar-second">
                  <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
                  <div id="block-block-23" class="block block-block">
                    <div class="content">
                      <div id="block-heatmap-stats">
                        <div id="block-heatmap-stats-KO">
                          <div class="head">KO lines analysed</div>
                          <div class="content">404</div>
                        </div>
                        <div id="block-heatmap-stats-phenotypes">
                          <div class="head">Phenotypes identified</div>
                          <div class="content">280</div>
                        </div>
                      </div>
                      </div>
                  </div>
                  
                  
                  <div id="block-block-2" class="block block-block">
                    <div class="content">
                      <p>
                        <a href="http://www.wellcome.ac.uk/" >
                          <img src="assets/images/slider/wt_logo.png"  width="300" height="39"/></a><br/>
                        <a href="https://www.immunology.org/" >
                          <img src="assets/images/slider/bsi_logo-250x52.png" target="blank"  width="250" height="52"/></a><br/>
                        <a href="http://www.mousephenotype.org/" >
                          <img src="assets/images/slider/impc_logo-150x50.png" width="150" height="50"/></a></p>
            
            
                    
                    </div>
                  </div>
                </div>
                
              </aside>
