.pointer {
   cursor: pointer; 
}
a {
    /* ok this is a hack to get links on the table cells */
    opacity: 0.0;
} 

table{
    width:100%;
}
td,th{
    padding:0.5em 0.7em 0.5em 0.2em;
    word-wrap:break-word;
}
td{
    border-bottom:#efefef 1px solid;
    vertical-align:top;
}
th{
    font-weight:300;
    padding-left:0.2em;
    font-size:1.2em;
    color:#333;
    border-bottom:#777 1px solid;
    font-family:"source sans pro" ,"Euphemia UCAS","Kannada Sangam MN";
}

.dot {
    margin-right: 10px;
    margin-left: 10px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }

  .no_data{
    background-color: white;
  }
  .not_enough_data{
    background-color: grey;
  }
  .not_significant{
    background-color: blue;
  }
  .significant{
    background-color: red;
  }
  .key{
      background-color: whitesmoke;
  }
  