<div id="main-center" fxFlex="80%" fxLayoutGap="20px">
  <p>
      <button mat-raised-button color="accent" (click)="openOrderSection(geneAccession)"><h3><mat-icon color="primary" >add_shopping_cart</mat-icon> Order/View Mice with gene KO {{gene}}</h3></button>
    Procedure: {{procedure}}
    </p>
  <div id="slider-and-main" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
  
<div class="key" id="key">
  <span><span class="dot no_data"></span>No Data</span>
  <span><span class="dot not_enough_data"></span>Not Enough Data</span>
  <span><span class="dot not_significant"></span>Not Significantly Different WT vs KO</span>
  <span><span class="dot significant"></span>Significantly Different WT vs KO</span>
</div>
   <table fxFlex="100%">
    <th>Parameter Name</th><th *ngIf="rows[0].assay">Assay</th><th *ngFor="let columnHeader of columnHeaders">{{columnHeader}}</th>
    <ng-container *ngFor="let row of rows">
      <tr [ngClass]="{'pointer': row.parameterStableId !== 'INF_BWT_001_001' && row.parameterStableId !== ''}" (click)="openChart(geneAccession, row.parameterStableId)"><td>{{row.rowHeader}}</td><td *ngIf="rows[0].assay">{{row.assay}}</td><td *ngFor="let cell of row.cellData"
      [style.background-color]="getStyle(cell)"></td></tr>
    </ng-container>
  </table>

  <!-- <aside id="right-sidebar" fxFlex="20%"  >

  </aside> -->


  </div>
</div>

