<div id="main-center" fxFlex="80%">
    Gene: {{gene}}
    Gene Accession: {{geneAccession}}
    Procedure: {{procedure}}
  <div id="slider-and-main" fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
  

   <table fxFlex="100%">
    <th>Parameter Name</th><th *ngIf="rows[0].assay">Assay</th><th *ngFor="let columnHeader of columnHeaders">{{columnHeader}}</th>
    <ng-container *ngFor="let row of rows"><tr><td>{{row.rowHeader}}</td><td *ngIf="rows[0].assay">{{row.assay}}</td><td *ngFor="let cell of row.cellData"
      [style.background-color]="getStyle(cell)"  style="cursor: pointer" (click)="openChart(geneAccession, row.parameterStableId)"></td></tr></ng-container>
  </table>

  <!-- <aside id="right-sidebar" fxFlex="20%"  >

  </aside> -->


  </div>
</div>

