
            <h1>More Data</h1>
              <p>Not all our data fits on a heatmap. In addition, we are committed to making as much of the raw data files available as well, to make sure the 3i project can have a lasting impact on diverse areas of research. Browse this section to find out more about what data is available and how to access it.</p>
            <h1>Images</h1>
            <p>
                We generated xxx images of DSS colitis gut sections, antinuclear antibody stainings and confocal sections of mouse ear epidermis. These can be found at the <a href="http://www.mousephenotype.org/data/search/impc_images?kw=*">IMPC image repository</a>. 
            </p>
            
          
