<mat-sidenav-content id="page-content"  fxFlex="70%">
          
    <h1 class="welcome">Privacy</h1>
  
    <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        
      
          <h2 ><div class="intro">Information about the 3I privacy policy </div> </h2>
    <div class="box-for-contents">
        <div class="panel_glossary">
          <i class="fa fa-list-alt" style="color:white"></i>
            Privacy Policy
        </div>
      <p> The General Data Protection Regulation (GDPR) will apply in the UK
        from 25 May 2018. It will replace the 1998 Data Protection Act and
        introduce new rules on privacy notices, as well as processing and
        safeguarding personal data.

        More details about our privacy policy can be found by following the links below.</p>
      <br/>
      <span><a href="https://www.ebi.ac.uk/data-protection/privacy-notice/three-i-website">Three I project website</a></span>
      applies to usage of the Three I <a href="http://www.immunophenotype.org/"> www.immunophenotyping.org </a> website.

    </div>

    
  </div>
</mat-sidenav-content>
<mat-sidenav mode="side" opened fxFlex="28%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="10px">
    <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
    <threei-stats-blocks></threei-stats-blocks>
    <threei-logos></threei-logos>     
</mat-sidenav>