<mat-sidenav-content>
<h1>Consortium</h1>
<h3 style="font-size:20px;color: black"><b>Adrian Hayday, Lead PI</b></h3>
<h2>King’s College London and London Research Institute</h2>
<p></p>
<p>Flow-cytometric analysis of spleen, mesenteric lymph node and bone marrow<br/>
    Microscopic analysis of immune cells in the ear epidermis</p>
<a href="http://www.kcl.ac.uk/lsm/research/divisions/diiid/departments/immunobiology/research/hayday/index.aspx" target="_blank" style="text-decoration: none;">Adrian Hayday’s research at King’s College London</a><br/>
<a href="https://www.crick.ac.uk/research/labs/adrian-hayday" target="_blank" style="text-decoration: none;">Adrian Hayday’s research at the Francis Crick Institute</a>
<p></p>
<hr/>
<h3 style="font-size:20px;color: black"><b>David Adams, Lead PI</b></h3>
<h1>Wellcome Trust Sanger Institute</h1>

<p></p>
<p>Flow-cytometric analysis of blood</p>
<a href="https://www.sanger.ac.uk/people/directory/adams-david" target="_blank" style="text-decoration: none;">David Adams' research at the Wellcome Trust Sanger Institute</a><hr/>
<h3 style="font-size:20px;color: black"><b>Richard Cornall</b></h3>
<h1>Oxford University</h1>

<p></p>
<p>Microscopic analysis of anti-nuclear antibodies in serum</p>
<a href="https://www.ndm.ox.ac.uk/principal-investigators/researcher/richard-cornall" target="_blank" style="text-decoration:none;">Richard Cornall’s research at Oxford University</a>
<hr/>

<h3 style="font-size: 20px;color: black"><b>Gordon Dougan </b></h3>
<h1>Wellcome Trust Sanger Institute</h1>

<p>Salmonella, influenza, DSS and Trichuris challenges</p>
<a href="https://www.sanger.ac.uk/people/directory/dougan-gordon" target="_blank" style="text-decoration: none;">Gordon Dougan’s research at the Wellcome Trust Sanger Institute</a>
<hr/>
<h3 style="font-size:20px;color: black"><b>Gillian Griffiths</b> </h3>
<h1>Cambridge University</h1>

<p>Analysis of cytotoxic potential of splenic CD8 T cells</p>
<a href="https://www.cimr.cam.ac.uk/research/principal-investigators/principal-investigators-a-h/griffiths" target="_blank" style="text-decoration: none;"> Gillian Griffiths' research at Cambridge University</a>
<hr/>
<h3 style="font-size:20px;color: black"><b>Richard Grencis</b>  </h3>
<h1>Manchester University</h1>
<p>Trichuris challenge</p>
<a href="https://www.research.manchester.ac.uk/portal/en/researchers/richard-grencis(8663ef93-0d33-4679-a0d9-5924ad2598cb).html" target="_blank" style="text-decoration: none;"> Richard Grencis’ research at Manchester University</a>
<hr/>
<h3 style="font-size:20px;color: black"><b>William Jacobs, Jr  </b>   </h3>
<h1>Albert Einstein College of Medicine</h1>

<p>Tuberculosis follow-up on selected lines</p>
<a href="http://www.einstein.yu.edu/faculty/6703/william-jacobs-jr/" target="_blank" style="text-decoration: none;"> William Jacobs’ research at Albert Einstein College of Medicine</a>
<hr/>
<h3 style="font-size:20px;color: black"><b>Clare Lloyd   </b> </h3>
<h1>Imperial College London</h1>

<p>Clare Lloyd’s research at Imperial College London</p>
<a href="http://www.imperial.ac.uk/people/c.lloyd" target="_blank" style="text-decoration: none;"> Clare Lloyd’s research at Imperial College London</a>
<hr/>
<h3 style="font-size:20px;color: black"><b>Kevin Maloy / Fiona Powrie  </b>  </h3>
<h1>Oxford University</h1>

<p>DSS challenge</p>
<a href="https://www.gla.ac.uk/researchinstitutes/iii/staff/kevinmaloy" target="_blank"> Kevin Maloy’s research at Oxford University</a><br/>
<a href="https://www.kennedy.ox.ac.uk/team/fiona-powrie" target="_blank">Fiona Powrie’s research at Oxford University</a>


  </mat-sidenav-content>

  <mat-sidenav mode="side" opened fxFlex="40%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="0px"> 
      <p><img src="assets//images/contact-images/map.png"></p>
      <p><img src="assets//images/contact-images/b1.gif" width="20" height="20" />Wellcome Trust Sanger Institute, Hixton</p>
      <p><img src="assets/images/contact-images/b2.gif"  width="20" height="20" />King's College, London</p>
      <p><img src="assets/images/contact-images/b3.gif" width="20" height="20"  />Imperial College, London</p>
      <p><img src="assets/images/contact-images/b4.gif"  width="20" height="20"  />Cambridge University</p>
      <p><img src="assets/images/contact-images/b5.gif"  width="20" height="20"  />Oxford University</p>
      <p><img src="assets/images/contact-images/b6.gif"  width="20" height="20"  />Manchester University</p>
      <p><img src="assets/images/contact-images/b7.gif"  width="20" height="20"  />Albert Einstein College of Medicine, New York</p>
  
  </mat-sidenav>

