

.af-button-large,input[type="submit"],.btn{
    display:inline-block;
    white-space:nowrap;
    word-wrap:normal;
    border:none;
    color:#fff;
    text-decoration:none;
    background:#777;
    color:#fff;
    padding:.3em .6em;
    cursor:pointer;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}
.af-button-large:hover,input[type="submit"]:hover,.btn:hover{
    text-decoration:none;
    color:#fff;
    background-color:#0978a1;
}
.btn i{
    margin-right:0.3em;
}