<mat-sidenav-content id="page-content"  fxFlex="70%">
          
    <h1 class="welcome">Learn More</h1>
  
    <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <threei-slideshow></threei-slideshow> 
      <article >
            



          <h2><div class="intro">Do not hesitate to contact us if you cannot find a answer to your question below. </div></h2>
    <p></p>
    <p></p>
    <h3 style="font-size: 25px;">FREQUENTLY ASKED QUESTIONS</h3><p></p>
    <p>We have collated the questions most frequently asked and provided those in a managed archive.</p>
    <p><a routerLink="../faq" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our FAQ list</a></p>

    <h3 style="font-size: 25px;">Glossary</h3><p></p>
    <p>If you are unsure of the terminology used in this website please use the following helpful glossary.</p>
    <p><a routerLink="../glossary" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our Glossary</a></p>

    <h3 style="font-size: 25px;">Publications</h3><p></p>
    <p>We have collated a useful library of publications.</p>
    <p><a routerLink="../publications" class="btn" style="color: white;"><i class="fa" style="font-size:9px;position:relative;bottom:2px;" >&#xf04b;</i>Browse our publications</a></p>
    <p></p>

  
      </article>
    </div>
</mat-sidenav-content>

<mat-sidenav mode="side" opened fxFlex="28%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="10px">
      
        <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
              <threei-stats-blocks></threei-stats-blocks>

      
              <threei-logos></threei-logos>
        
      
      
</mat-sidenav>