
       <form (ngSubmit)="filterMethod()" #loginForm="ngForm">

        <mat-card fxLayout="row" fxLayoutGap="20px">
          <mat-card-content>
           
            
        <mat-form-field >
            <mat-label>Search for gene symbol</mat-label><input matInput type="search" placeholder="Search Gene Symbol" [(ngModel)]="keyword" name="keyword">
        </mat-form-field>
        </mat-card-content>
        <mat-card-content>
        <mat-form-field>
            <mat-label>Filter by construct</mat-label>
            <mat-select   placeholder="Construct filter" [(value)]="constructSelected">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let construct of constructTypes" [value]="construct" (click)="filterMethod()">{{construct}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
        <mat-card-content fxLayoutAlign="center center" fxLayoutGap="10px">

        <button mat-fab>
          Filter
        </button>
        <button type="button" mat-fab (click)="clearFilter()">
            Clear Filter
        </button>
      </mat-card-content>
        </mat-card>
      

        <mat-card>
          <mat-card-content>
              <mat-form-field>
                  <mat-label>Sort by most significant procedure</mat-label>
                  <mat-select   placeholder="sort highest sig to lowest" [(value)]="sortFieldSelected">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let header of columnHeaders" [value]="header" (click)="filterMethod()">{{header}}</mat-option>
                  </mat-select>
                </mat-form-field> 
          </mat-card-content>
        </mat-card>
        </form>

        <mat-card>
            <mat-card-content>
                <mat-spinner *ngIf="!resourceLoaded"></mat-spinner>

                  <highcharts-chart
                      [Highcharts]="Highcharts"
                      [options]="procedureChartOptions"
                      [(update)]="updateDemo2"  
                    ></highcharts-chart>

            </mat-card-content>
        </mat-card>
