<div id="welcome" >
    <h1>GLOSSARY</h1>
</div>

<div id="main-center" fxFlex="60%">
    <div id="slider-and-main" fxLayout="column " fxLayout.xs="row" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <threei-slideshow></threei-slideshow> 


  <div id="region region-content">
    <div class="intro"><h2 >We have compiled the following glossary of technical and scientific terms. </h2> </div>
    <p></p>
    <p></p>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="clear"></div>
    <div class="panel_glossary" >
      <i class="fa fa-list-alt"></i>
      Glossary
    </div>
    <br/>
    <br/>
    <br/>
    <div id="accordian1_main" style=" border: 1px solid #eee; width: 100%; border-radius: 4px;">

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
             <span> 3i </span>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <p>The 3i Consortium.<br/>
            3i is an abbreviation for: Infection, Immunity, Immunophenotyping.<br/>
            The 3i consortium members can be found on the <span><a href="/contact"> 3i Contact Page.</a> </span></p>

        <p></p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> DETC </span>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>Dendritic Epidermal T Cells (DETC) are TCRγδ-positive T cells that populate the mouse epidermis where they are in close contact with Langerhans cells (LC).</p>


          <p></p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span> KMC </span>
          </mat-panel-title>

        </mat-expansion-panel-header>
        <p>The International Knockout Mouse Consortium (IKMC) is a scientific endeavour to produce a collection of mouse embryonic stem cell lines that together lack every gene in the genome, and then to distribute the cells to scientific researchers to create knockout mice to study. Many of the targeted alleles are designed so that they can generate both complete and conditional gene knockout mice.
          For more details please visit <a href="http://http://www.mousephenotype.org/">www.mousephenotype.org/martsearch_ikmc_project.</a> </p>


        <p></p>
      </mat-expansion-panel>
    </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> IMPC </span>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>The International Mouse Phenotyping Consortium (IMPC) is an international scientific endeavour to create and characterize the phenotype of 20,000 knockout mouse strains. Launched in September 2011,[1] the consortium consists of over 15 research institutes across four continents with funding provided by the NIH, European national governments and the partner institutions.</p>
          <p>See <a href="http://www.mousephenotype.org/">http://www.mousephenotype.org/</a> for more details</p>
          <p></p>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span> LC </span>
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>Langerhanc cells (LC) are dendritic cells found in the skin and mucosa of mice and humans. In mice, Langerhans cells and dendritic epidermal T cells (DETC) form a network of cells in the epidermis.</p>

          <p></p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
</div>
</div>
</div>

<aside id="right-sidebar" fxFlex="20%"  >
    <div class="region region-sidebar-second">
      <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
      <div id="block-block-23" class="block block-block">
        <div class="content">
          <div id="block-heatmap-stats">
            <div id="block-heatmap-stats-KO">
              <div class="head">KO lines analysed</div>
              <div class="content">404</div>
            </div>
            <div id="block-heatmap-stats-phenotypes">
              <div class="head">Phenotypes identified</div>
              <div class="content">280</div>
            </div>
          </div>
          </div>
      </div>
      
      
      <div id="block-block-2" class="block block-block">
        <div class="content">
          <p>
            <a href="http://www.wellcome.ac.uk/" >
              <img src="assets/images/slider/wt_logo.png"  width="300" height="39"/></a><br/>
            <a href="https://www.immunology.org/" >
              <img src="assets/images/slider/bsi_logo-250x52.png" target="blank"  width="250" height="52"/></a><br/>
            <a href="http://www.mousephenotype.org/" >
              <img src="assets/images/slider/impc_logo-150x50.png" width="150" height="50"/></a></p>


        
        </div>
      </div>
    </div>
    
  </aside>
