<mat-sidenav-content id="page-content"  fxFlex="70%">
          
    <h1 class="welcome">Welcome to <span class="text-highlight" >3i</span></h1>
  
    <div id="slider-and-main" fxLayout="column " fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <threei-slideshow></threei-slideshow> 
      <article >
  <h2 >We have compiled the following list of relevant publications. </h2>
       
    <div class="box-for-contents">
        <div class="panel_glossary">
            <i class="fa fa-list-alt" style="color: white"></i>
            Publications
        </div>
      <br/>
      Bradley et al (2012) Mammalian Genome 23, 580-6<br/>
      <b>The mammalian gene function resource: the International Knockout Mouse Consortium.</b><br/>
      This paper gives an overview of the ES cell resources available through the International Knockout mouse consortium (IKMC).<br/>
      <span><a href="https://www.ncbi.nlm.nih.gov/pubmed/22968824">http://www.ncbi.nlm.nih.gov/pubmed/22968824</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Bradley 2012 IKMC.pdf">Bradley 2012 IKMC.pdf</a></span>
        </li>
      </ul>
      
      
      Skarnes et al. (2011) Nature, 474, 337-42<br/>
      <b>A conditional knockout resource for the genome-wide study of mouse gene function.</b><br/>
      This paper describes the knockout strategy across the IMPC.<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pubmed/21677750">http://www.ncbi.nlm.nih.gov/pubmed/21677750</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Skarnes 2011 KO design.pdf"> Skarnes 2011 KO design.pdf</a></span>
        </li>
      </ul>


      
      White et al. (2013) Cell, 154, 452-64<br/>
      <b>Genome-wide generation and systematic phenotyping of knockout mice reveals new roles for many genes.</b><br/>
      This paper contains an overview over the first 250 lines phenotyped in the WTSI pipeline.<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pubmed/23870131">http://www.ncbi.nlm.nih.gov/pubmed/23870131</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/White 2013 MPG screen.pdf"> White 2013 MPG screen.pdf</a></span>
        </li>
      </ul>

     
      Brown and Moore (2012) Mammalian Genome, 23, 632-60<br/>
      <b>The International Mouse Phenotyping Consortium: past and future perspectives on mouse phenotyping</b><br/>
      This paper ....<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3774932/">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3774932/</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Brown and Moore 2012 IMPC.pdf"> Brown and Moore 2012 IMPC.pdf</a></span>
        </li>
      </ul>
</div>
    </article>
  </div>
</mat-sidenav-content>

<mat-sidenav mode="side" opened fxFlex="28%"  position="end" fxLayout="column " fxLayout.xs="column" fxLayoutGap="10px">
    <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
    <threei-stats-blocks></threei-stats-blocks>
    <threei-logos></threei-logos>     
</mat-sidenav>
 