<div id="welcome">
    <h1>PUBLICATIONS</h1>
</div>

<div id="main-center" fxFlex="60%">
    <div id="slider-and-main" fxLayout="column" fxLayout.xs="row" fxLayoutWrap fxLayoutGap="1.5%" fxLayoutAlign="center">
        <threei-slideshow></threei-slideshow>

  <div id="region region-content" fxLayout="column">
    <div fxFlex="100%"><h2 >We have compiled the following list of relevant publications. </h2> </div>
    <p></p>
    <p></p>
    <div class="panel_glossary">
      <i class="fa fa-list-alt"></i>
      Publications
    </div>
    <br/><br/><br/><br/>
    <div id="accordian1_main" style=" border: 1px solid #ccc; width: 100%; padding:1em">
      <p></p>
      <br/>
      Bradley et al (2012) Mammalian Genome 23, 580-6<br/>
      <b>The mammalian gene function resource: the International Knockout Mouse Consortium.</b><br/>
      This paper gives an overview of the ES cell resources available through the International Knockout mouse consortium (IKMC).<br/>
      <span><a href="https://www.ncbi.nlm.nih.gov/pubmed/22968824">http://www.ncbi.nlm.nih.gov/pubmed/22968824</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Bradley 2012 IKMC.pdf">Bradley 2012 IKMC.pdf</a></span>
        </li>
      </ul>

      <p></p>
      Skarnes et al. (2011) Nature, 474, 337-42<br/>
      <b>A conditional knockout resource for the genome-wide study of mouse gene function.</b><br/>
      This paper describes the knockout strategy across the IMPC.<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pubmed/21677750">http://www.ncbi.nlm.nih.gov/pubmed/21677750</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Skarnes 2011 KO design.pdf"> Skarnes 2011 KO design.pdf</a></span>
        </li>
      </ul>


      <p></p>
      White et al. (2013) Cell, 154, 452-64<br/>
      <b>Genome-wide generation and systematic phenotyping of knockout mice reveals new roles for many genes.</b><br/>
      This paper contains an overview over the first 250 lines phenotyped in the WTSI pipeline.<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pubmed/23870131">http://www.ncbi.nlm.nih.gov/pubmed/23870131</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/White 2013 MPG screen.pdf"> White 2013 MPG screen.pdf</a></span>
        </li>
      </ul>

      <p></p>
      Brown and Moore (2012) Mammalian Genome, 23, 632-60<br/>
      <b>The International Mouse Phenotyping Consortium: past and future perspectives on mouse phenotyping</b><br/>
      This paper ....<br/>
      <span><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3774932/">http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3774932/</a></span>
      <ul class="ul-pdf">
        <li><span>
                <img src="../assets/images/pdf.png" href="../assets/images/pdf.png" width="20" height="20" />
                <a href="../assets/publications-pdfs/Brown and Moore 2012 IMPC.pdf"> Brown and Moore 2012 IMPC.pdf</a></span>
        </li>
      </ul>

      <br/>
      <br/>

    </div>

  </div>
</div>
</div>

<aside id="right-sidebar" fxFlex="20%"  >
    <div class="region region-sidebar-second">
      <threei-phenotype-of-the-month></threei-phenotype-of-the-month>
      <div id="block-block-23" class="block block-block">
        <div class="content">
          <div id="block-heatmap-stats">
            <div id="block-heatmap-stats-KO">
              <div class="head">KO lines analysed</div>
              <div class="content">404</div>
            </div>
            <div id="block-heatmap-stats-phenotypes">
              <div class="head">Phenotypes identified</div>
              <div class="content">280</div>
            </div>
          </div>
          </div>
      </div>
      
      
      <div id="block-block-2" class="block block-block">
        <div class="content">
          <p>
            <a href="http://www.wellcome.ac.uk/" >
              <img src="assets/images/slider/wt_logo.png"  width="300" height="39"/></a><br/>
            <a href="https://www.immunology.org/" >
              <img src="assets/images/slider/bsi_logo-250x52.png" target="blank"  width="250" height="52"/></a><br/>
            <a href="http://www.mousephenotype.org/" >
              <img src="assets/images/slider/impc_logo-150x50.png" width="150" height="50"/></a></p>


        
        </div>
      </div>
    </div>
    
  </aside>
 